@model Apeek.Common.IShape<Momentarily.ViewModels.Models.MomentarilyItemSearchViewModel>
@{

    Layout = "~/Areas/Frontend/Views/Shared/_Layout.cshtml";
}
@section meta
    {
    <meta property="title" content="@ViewBag.Title" />
    <meta property="description" content="@ViewBag.Description" />
}
@Styles.Render("~/bundles/cssSearch")
@Styles.Render("~/Content/css/jqueryUI")


<div class="content mainClass search_page" ng-controller="SearchController as search" id="SearchControllerData" ng-cloak>
    <div class="container-search">
        <div class="list-map">
            <apeek-map items="search.itemsMap"
                       search-location="search.filter.Location"
                       coord-change="search.mapCoordChanged"
                       change-on-move-map="search.filter.SearchByMap"
                       offset="true"
                       distance-and-route-from-current-location="true">
            </apeek-map>
            <div class="filterSearch">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="filters collapse11 form-horizontal">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <div class="filter-selects-block">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                            <input ng-model="search.filter.Keyword" ng-model-options="{ updateOn: 'blur' }" type="text" class="form-control" id="Keyword" placeholder="I'm looking for...">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="filter-selects-block">
                                            <input name="Location"
                                                   id="clicklocation"
                                                   autocomplete-location
                                                   ng-model="search.filter.Location"
                                                   class="form-control account-input"
                                                   ng-class="{'error-input': (Location.$dirty) && (Location.$error.required || Location.$error.autocompleter)}"
                                                   placeholder="Enter location"
                                                   place-filter="address"
                                                   latitude="search.filter.Latitude"
                                                   longitude="search.filter.Longitude"
                                                   search-by-map="search.filter.SearchByMap"
                                                   @*use-current-position="!search.filter.Location"*@
                                                   use-current-position="false"
                                                   ng-model-options="{updateOn: 'blur'}"
                                                   required>
                                            <div class="locationIcon"><a ng-click="search.findlocation()"><i class="fa fa-map-marker" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <ui-select ng-model="search.filter.Radius" theme="select2">
                                            <ui-select-match>
                                                <span ng-bind="$select.selected" class="selected miles"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="value in search.Radiusoptions">
                                                <span ng-bind="value" class="miles2"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="listing-container" class="list-items">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="filters collapse11">
                      
                            <div class="form-group">
                                <label for="category" class="filter-labels control-label">Category</label>
                                <div class="filter-selects-block">
                                    <ui-select name="CategoryId"
                                               class="input-style-home type-select"
                                               ng-model="search.filter.CategoryId"
                                               ng-class="{'error-input': (create.TypeSelect.$dirty || create.$submitted) && create.TypeSelect.$error.required}"
                                               theme="select2">
                                        <ui-select-match placeholder="All Categories">
                                            <span ng-bind="$select.selected.Name" class="selected"></span>
                                        </ui-select-match>

                                        <ui-select-choices onclick="maintainscroll()" repeat="item.Id as item in search.Categories">
                                            <span ng-bind="item.Name"></span>
                                        </ui-select-choices>

                                    </ui-select>
                                </div>
                            </div>



                            <div id="radiobuttonsdiv">
                                <div class="form-group">
                                    <label class="control-label">Sort By</label>
                                    <div>
                                        <label class="radio">
                                            <input class="form-check-input" type="radio" name="SortBy" value="1" ng-model="search.filter.SortBy" /> Price Low to High
                                            <div class="check"></div>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="radio">
                                            <input class="form-check-input" type="radio" name="SortBy" value="2" ng-model="search.filter.SortBy" /> Price High to Low
                                            <div class="check"></div>
                                        </label>
                                    </div>
                                    @*<div>
                                            <label class="radio">
                                                <input class="form-check-input" type="radio" name="SortBy" value="3" ng-model="search.filter.SortBy" /> Least Rented
                                                <div class="check"></div>
                                            </label>
                                        </div>*@
                                    <div>
                                        <label class="radio">
                                            <input class="form-check-input" type="radio" name="SortBy" value="4" ng-model="search.filter.SortBy" /> Most Rented
                                            <div class="check"></div>
                                        </label>
                                    </div>
                                    @*<div>
                                            <label class="radio">
                                                <input class="form-check-input" type="radio" name="SortBy" value="5" ng-model="search.filter.SortBy" /> Least Rated
                                                <div class="check"></div>
                                            </label>
                                        </div>*@
                                    <div>
                                        <label class="radio">
                                            <input class="form-check-input" type="radio" name="SortBy" value="6" ng-model="search.filter.SortBy" /> Highest Rated
                                            <div class="check"></div>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Rental Period</label>
                                    <div>
                                        <label class="radio">
                                            <input type="radio" name="RentPeriod" ng-model="search.filter.RentPeriod" value="4" /> Any
                                            <div class="check"></div>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="radio">
                                            <input type="radio" name="RentPeriod" ng-model="search.filter.RentPeriod" value="1" /> Day
                                            <div class="check"></div>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="radio">
                                            <input type="radio" name="RentPeriod" ng-model="search.filter.RentPeriod" value="2" /> Week
                                            <div class="check"></div>
                                        </label>
                                    </div>

                                </div>

                            </div>


                            <div id="dropdownsdiv">
                                <div class="form-group">
                                    <label for="Sort" class="filter-labels control-label">Sort By Drop</label>
                                    <div class="filter-selects-block">
                                        <ui-select name="SortId"
                                                   class="input-style-home type-select"
                                                   ng-model="search.filter.SortBy"
                                                   ng-class="{'error-input': (create.TypeSelect.$dirty || create.$submitted) && create.TypeSelect.$error.required}"
                                                   theme="select2">
                                            <ui-select-match placeholder="All Sortable">
                                                <span ng-bind="$select.selected.name" class="selected"></span>
                                            </ui-select-match>

                                            <ui-select-choices repeat="item.sortId as item in search.sortlist">
                                                <span ng-bind="item.name"></span>
                                            </ui-select-choices>

                                        </ui-select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Sort" class="filter-labels control-label">Rent Period</label>
                                    <div class="filter-selects-block">
                                        <ui-select name="rentId"
                                                   class="input-style-home type-select"
                                                   ng-model="search.filter.RentPeriod"
                                                   ng-class="{'error-input': (create.TypeSelect.$dirty || create.$submitted) && create.TypeSelect.$error.required}"
                                                   theme="select2">
                                            <ui-select-match placeholder="All Sortable">
                                                <span ng-bind="$select.selected.name" class="selected"></span>
                                            </ui-select-match>

                                            <ui-select-choices repeat="item.rentId as item in search.rentperiod">
                                                <span ng-bind="item.name"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="listing">
                            <div class="loading-layout" ng-show="search.loadingItems"></div>
                            <div class="loading" ng-show="search.loadingItems">
                                <img class="loading-img" src="/Content/Img/rolling.gif" alt="image">Loading items
                            </div>
                            <div ng-show="search.items.length === 0" class="items-not-found">No Sharers here yet! Try another location, or <a href="@Url.Action("Create", "Listing")">Become a Sharer</a> yourself!</div>

                            <div style="width: 100%;display: inline-block;">
                                <div ng-repeat="item in search.items" class="item col-sm-6 col-md-4" id="item{{$index}}" on-finish-render="search.passItems()">


                                    <div class="clearfix">
                                        <a target="_blank" href="@QuickUrl.SearchItemUrl(){{'/' + item.GoodId + '?SearchLocation=' + search.filter.Location + '&SearchLatitude=' + search.filter.Latitude + '&SearchLongitude=' + search.filter.Longitude}}">
                                            <div class="img-item">
                                                <div class="img-container" style="background-image:url('{{item.GoodImageUrl || empty}}')">
                                                    <!-- <img ng-src="{{item.GoodImageUrl || 'empty'}}" on-error-src="/Content/Img/error-bg.png" alt=""> -->
                                                </div>
                                            </div>
                                        </a>
                                        <div class="table-wrapper">
                                            <div class="table-row">
                                                <div data-ng-if="(search.filter.RentPeriod==1 || search.filter.RentPeriod==4) && item.RentPeriodDay && !item.RentPeriodWeek" class="price">${{item.Price | number: 2}}</div>
                                                <div data-ng-if="(search.filter.RentPeriod==1 || search.filter.RentPeriod==4) && !item.RentPeriodDay && item.RentPeriodWeek" class="price"></div>
                                                <div data-ng-if="(search.filter.RentPeriod==1 || search.filter.RentPeriod==4) && item.RentPeriodDay && item.RentPeriodWeek" class="price">${{item.Price | number: 2}}</div>
                                                <div data-ng-if="search.filter.RentPeriod==2" class="price">${{item.PricePerWeek | number: 2}}</div>
                                                <div class="left-col">
                                                    <div class="title-item">{{item.Name}}</div>
                                                </div>
                                            </div>


                                            <div class="table-row">
                                                <div class="hidden-rate-block">
                                                    <div class="rate-block">
                                                        <ng-rate-it ng-model="item.Rank" read-only="true"></ng-rate-it>
                                                        <span class="rate-number">({{item.ReviewCount}})</span>
                                                    </div>
                                                </div>
                                                <div data-ng-if="(search.filter.RentPeriod==1 || search.filter.RentPeriod==4)&& item.RentPeriodDay && !item.RentPeriodWeek" class="price-details">per day</div>
                                                <div data-ng-if="(search.filter.RentPeriod==1 || search.filter.RentPeriod==4)&& !item.RentPeriodDay && item.RentPeriodWeek" class="price-details"></div>
                                                <div data-ng-if="(search.filter.RentPeriod==1 || search.filter.RentPeriod==4)&& item.RentPeriodDay && item.RentPeriodWeek" class="price-details">per day</div>

                                                <div data-ng-if="search.filter.RentPeriod==2" class="price-details">per week</div>

                                            </div>

                                            <div data-ng-if="(search.filter.RentPeriod==1) && item.RentPeriodDay && item.RentPeriodWeek" class="table-row">

                                                <div class="text-right searchPage" data-ng-if="item.Price > 0 && item.PricePerWeek > 0">
                                                    <div class="price">${{item.PricePerWeek | number: 2}}</div>
                                                </div>
                                                <div class="price-details inner" ng-show="{{item.UserId}}!=@Convert.ToInt32(Session["current_user"])">
                                                    <div class="reportBtn">
                                                        <button id="{{item.GoodId}}" onclick="SentAbuseReport(event)">Report</button>
                                                    </div>
                                                    <p style="margin: 0 0 0px;" ng-show="{{item.UserId}}!=@Convert.ToInt32(Session["current_user"])">per week</p>
                                                </div>
                                                <div class="price-details inner">
                                                    <div class="reportBtn" style="display:none" ng-show="{{item.UserId}}==@Convert.ToInt32(Session["current_user"])">
                                                        <button id="{{item.GoodId}}" onclick="SentAbuseReport(event)">Report</button>
                                                    </div>
                                                    <p style="margin: 0 0 0px;" ng-show="{{item.UserId}}==@Convert.ToInt32(Session["current_user"])">per week</p>
                                                </div>
                                            </div>
                                            <div data-ng-if="(search.filter.RentPeriod==1) && item.RentPeriodDay && !item.RentPeriodWeek" class="table-row">

                                                <div style="visibility:hidden" class="text-right searchPage" data-ng-if="item.Price > 0 && !item.RentPeriodWeek">
                                                    <div class="price">${{item.PricePerWeek | number: 2}}</div>
                                                </div>
                                                <div class="price-details inner" ng-show="{{item.UserId}}!=@Convert.ToInt32(Session["current_user"])">
                                                    <div class="reportBtn">
                                                        <button id="{{item.GoodId}}" onclick="SentAbuseReport(event)">Report</button>
                                                    </div>
                                                    <p style="margin: 0 0 0px; visibility:hidden" ng-show="{{item.UserId}}!=@Convert.ToInt32(Session["current_user"])">per week</p>
                                                </div>
                                                <div class="price-details inner">
                                                    <div class="reportBtn" style="visibility:hidden" ng-show="{{item.UserId}}==@Convert.ToInt32(Session["current_user"])">
                                                        <button id="{{item.GoodId}}" onclick="SentAbuseReport(event)">Report</button>
                                                    </div>
                                                    <p style="margin: 0 0 0px; visibility:hidden" ng-show="{{item.UserId}}==@Convert.ToInt32(Session["current_user"])">per week</p>
                                                </div>
                                            </div>


                                            <div data-ng-if="(search.filter.RentPeriod==4) && item.RentPeriodDay && item.RentPeriodWeek" class="table-row">

                                                <div class="text-right searchPage" data-ng-if="item.Price > 0 && item.PricePerWeek > 0">
                                                    <div class="price">${{item.PricePerWeek | number: 2}}</div>
                                                </div>
                                                <div class="price-details inner" ng-show="{{item.UserId}}!=@Convert.ToInt32(Session["current_user"])">
                                                    <div class="reportBtn">
                                                        <button id="{{item.GoodId}}" onclick="SentAbuseReport(event)">Report</button>
                                                    </div>
                                                    <p style="margin: 0 0 0px;" ng-show="{{item.UserId}}!=@Convert.ToInt32(Session["current_user"])">per week</p>
                                                </div>
                                                <div class="price-details inner">
                                                    <div class="reportBtn" style="display:none" ng-show="{{item.UserId}}==@Convert.ToInt32(Session["current_user"])">
                                                        <button id="{{item.GoodId}}" onclick="SentAbuseReport(event)">Report</button>
                                                    </div>
                                                    <p style="margin: 0 0 0px;" ng-show="{{item.UserId}}==@Convert.ToInt32(Session["current_user"])">per week</p>
                                                </div>
                                            </div>
                                            <div data-ng-if="(search.filter.RentPeriod==4) && item.RentPeriodDay && !item.RentPeriodWeek" class="table-row">

                                                <div style="visibility:hidden" class="text-right searchPage" data-ng-if="item.Price > 0 && !item.RentPeriodWeek">
                                                    <div class="price">${{item.PricePerWeek | number: 2}}</div>
                                                </div>
                                                <div class="price-details inner" ng-show="{{item.UserId}}!=@Convert.ToInt32(Session["current_user"])">
                                                    <div class="reportBtn">
                                                        <button id="{{item.GoodId}}" onclick="SentAbuseReport(event)">Report</button>
                                                    </div>
                                                    <p style="margin: 0 0 0px; visibility:hidden" ng-show="{{item.UserId}}!=@Convert.ToInt32(Session["current_user"])">per week</p>
                                                </div>
                                                <div class="price-details inner">
                                                    <div class="reportBtn" style="visibility:hidden" ng-show="{{item.UserId}}==@Convert.ToInt32(Session["current_user"])">
                                                        <button id="{{item.GoodId}}" onclick="SentAbuseReport(event)">Report</button>
                                                    </div>
                                                    <p style="margin: 0 0 0px; visibility:hidden" ng-show="{{item.UserId}}==@Convert.ToInt32(Session["current_user"])">per week</p>
                                                </div>
                                            </div>
                                            <div data-ng-if="(search.filter.RentPeriod==4) && !item.RentPeriodDay && item.RentPeriodWeek" class="table-row">

                                                <div class="text-right searchPage" data-ng-if="!item.RentPeriodDay && item.RentPeriodWeek">
                                                    <div class="price">${{item.PricePerWeek | number: 2}}</div>
                                                </div>
                                                <div class="price-details inner" ng-show="{{item.UserId}}!=@Convert.ToInt32(Session["current_user"])">
                                                    <div class="reportBtn">
                                                        <button id="{{item.GoodId}}" onclick="SentAbuseReport(event)">Report</button>
                                                    </div>
                                                    <p style="margin: 0 0 0px;" ng-show="{{item.UserId}}!=@Convert.ToInt32(Session["current_user"])">per week</p>
                                                </div>
                                                <div class="price-details inner">
                                                    <div class="reportBtn" style="visibility:hidden" ng-show="{{item.UserId}}==@Convert.ToInt32(Session["current_user"])">
                                                        <button id="{{item.GoodId}}" onclick="SentAbuseReport(event)">Report</button>
                                                    </div>
                                                    <p style="margin: 0 0 0px;" ng-show="{{item.UserId}}==@Convert.ToInt32(Session["current_user"])">per week</p>
                                                </div>
                                            </div>


                                            <div data-ng-if="(search.filter.RentPeriod==2)" class="table-row">
                                                <div class="report">
                                                    <div class="price-details form-group" ng-show="{{item.UserId}}!=@Convert.ToInt32(Session["current_user"]) && search.filter.RentPeriod==2">
                                                        <button id="{{item.GoodId}}" onclick="SentAbuseReport(event)" style="float:left; color: #fff; background-color: #cf2d1e;border-color: #cf2d1e;">Report</button>
                                                    </div>
                                                </div>
                                                <div class="report">
                                                    <div class="price-details  form-group" ng-show="{{item.UserId}}==@Convert.ToInt32(Session["current_user"]) && search.filter.RentPeriod==2">
                                                        <button id="{{item.GoodId}}" onclick="SentAbuseReport(event)" style="visibility:hidden; float:left; color: #fff; background-color: #cf2d1e;border-color: #cf2d1e;">Report</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="search.itemsCount != 0" class="pagination-container">
                                <div ng-show="search.itemsCount > search.filter.PageSize" class="col-md-12">
                                    <uib-pagination total-items="search.itemsCount" items-per-page="search.filter.PageSize"
                                                    ng-model="search.filter.Page" max-size="10" class="pagination"
                                                    boundary-links="false" direction-links="false" num-pages="numPages"></uib-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/Search")
@Scripts.Render("~/Scripts/Libs/Jquery1102")
@Scripts.Render("~/Scripts/Libs/jquery1114")
<link href="~/Content/ToastMessage/toastr.css" rel="stylesheet" />
<script src="~/Content/ToastMessage/toastr.min.js"></script>

<script>

    var angularConstants = {
        Filter: JSON.parse('@Html.Raw(Json.Encode(Model.ViewModel.SearchModel))'),
        Categories: JSON.parse('@Html.Raw(Json.Encode(Model.ViewModel.Categories))'),
        Items: JSON.parse('@Html.Raw(HttpUtility.JavaScriptStringEncode(Json.Encode(Model.ViewModel.Result)))')
    };

    $(document).ready(function () {

        if ($(window).width() < 767) {
            $('#radiobuttonsdiv').hide();
            $("#dropdownsdiv").show();
        } else {
            $('#radiobuttonsdiv').show();
            $("#dropdownsdiv").hide();
        }

        $("#Keyword").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Search/SearchMap",
                    type: "Post",
                    dataType: "json",
                    data: { searchmodel1: @Html.Raw(Json.Encode(Model.ViewModel)), Filter: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }))
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });

        $("#Keyword").on("keydown", function (event) {

            if (event.which == 13) {
                $('#clicklocation').focus().trigger('click');
                $('#Keyword').focus();
                if ($("#item0").length) {
                    $('html, body').animate({
                        scrollTop: $('#item0').offset().top
                    }, 1000);
                }
                else {
                    $('html, body').animate({
                        scrollTop: $('.items-not-found').offset().top
                    }, 1000);
                }
            }

        })

        $(".radio").change(function () {
            if ($("#item0").length) {
                $('html, body').animate({
                    scrollTop: $('#item0').offset().top
                }, 1000);
            }
            else {
                $('html, body').animate({
                    scrollTop: $('.items-not-found').offset().top
                }, 1000);
            }
        })

        $("#currentlocation").click(function () {

            if (navigator.geolocation) {
                // Call getCurrentPosition with success and failure callbacks
                navigator.geolocation.getCurrentPosition(success, fail);
            }
            else {
                toastr.error("Sorry, your browser does not support geolocation services.");
            }
        })

    })
    function SentAbuseReport(event) {

        var GoodId = event.target.id;
        $.ajax({
            url: "/Search/ReportAbuse",
            type: "Post",
            data: { goodId: GoodId },
            success: function (data) {
                toastr.success(data);
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                toastr.error(data);
            },


        });
    };
    function success(position) {

        document.getElementById('long').value = position.coords.longitude;
        document.getElementById('lat').value = position.coords.latitude
    }

    function fail() {
        toastr.error("Could not obtain your location");
    }
    function maintainscroll() {
        $('html, body').animate({
            scrollTop: $('.radio').offset().top
        }, 1000);
    }
</script>


