@model Momentarily.ViewModels.Models.FAQVM
@using Apeek.Common.Definitions;
@{
    Layout = "~/Areas/Frontend/Views/Shared/_Layout.cshtml";
    int index = 0;
}
@section meta
    {
    @*<meta name="google-site-verification" content="tG02v-ZqX3p_2nyAe1D9sUG1RSJuHLJ51FGpjBAIuZM" />*@
    <meta property="title" content="@ViewBag.Title" />
    <meta property="description" content="@ViewBag.Description" />
}
<link href="~/Content/css/faq.css" rel="stylesheet" />

<link href="~/Content/ToastMessage/toastr.css" rel="stylesheet" />
<link href="~/Content/CustomCssFiles/CommonForAllPages.css" rel="stylesheet" />
@*<script src="~/Scripts/Libs/jquery.js"></script>
    <script src="~/Scripts/Libs/bootsrap.min.js"></script>*@
<script src="~/Content/ToastMessage/toastr.min.js"></script>


<script>



     function checkversion() {
        var versioncheck;
        $.ajax({
            url: "/Search/CheckVersion",
            type: "Get",
            async: false ,
            success: function (data) {
                if (data == "True") {
                    versioncheck = 'Beta';
                }
                else {
                    versioncheck = '';
                }
            },
            error: function () {
                versioncheck=  '';
            }
        })
        return versioncheck;
    };


    $(document).ready(function () {
        var version = checkversion();
        var target = "_blank";
        if (version == 'Beta') {
            target = "";
        }
        else {
            target = "_blank";
        }
        $('.container p').each(function () {
            var text = $(this).text();
            $(this).html(text.replace('$Terms and Conditions$', '<a target="_blank" href="@Url.Action("Terms", "Home")">Terms and Conditions </a>'
            ).replace('$ items page $', '<a target="' + target + '" href="" class="becomeBorrower">Items Page </a>')
                .replace('$ set up your momentarily member account $', '<a target="_blank" href="@Url.Action("Register", "Account")">setup your momentarily member account </a>')
                .replace('$ Become a Sharer $', '<a target="_blank" href="@Url.Action("Create", "Listing")">Become a Sharer </a>')
                .replace('$ momentarily bold $', '<b>momentarily </b>')
                .replace('$ contact $', '<a target="_blank" href="@Url.Action("index", "sendhelp")">contact</a>')
                .replace('$contactus$', '<a target="_blank" href="@Url.Action("ContactUs", "Home")">contact us</a>')
                .replace('$Owner$', '<a target="_blank" href="@Url.Action("Index", "Listing")">Owner</a>')
                .replace('$Borrower$', '<a target="' + target + '" href="" class="becomeBorrower" >Borrower</a>')

                .replace('$ service and processing fee $', '<a target="_blank" href="@Url.Action("Index", "Home")">service and processing fee </a>')/////////////////////////
                .replace('$ account page $', '<a target="_blank" href="@Url.Action("Index", "Home")">account page </a>')//////////////////
                .replace('$ See also how owners are rated $', '<a target="_blank" href="@Url.Action("Index", "Home")">See also how owners are rated </a>')/////////////////
                .replace('$ social sharing icons $', '<a href="#" data-toggle="modal" data-target="#exampleModal">social sharing icons </a>')
            );

        });

        if ('@ViewBag.FAQCheck' == 'True') {
            toastr.options.timeOut = 0;
            toastr.options.extendedTimeOut = 0;
            toastr.info("Click through all highlighted tabs to view your search results. If no results are returned, please try again using alternative search terms.");
        }
        toastr.options.onclick = function (e) { e.stopPropogation(); }


        var listitems = $('#navbar_ul li');
        listitems.each(function (idx, li) {

            var classname = $(li).attr('class');
            if (classname == 'active') {
                var id = $(li).attr('id');
                if (id != undefined) {
                    var newid = id.replace('_li', '')
                    var element = document.getElementById(newid);
                    $(element).addClass("in active")
                }
            }
            else {
                var id = $(li).attr('id');
                if (id != undefined) {
                    var newid = id.replace('_li', '')
                    var element = document.getElementById(newid);
                    $(element).removeClass("in active")
                }
            }
            // and the rest of your code
        });



        $(".collapse.in").each(function () {
            $(this).siblings(".panel-heading").find(".glyphicon").removeClass("rotate");
        });
        $(".collapse").on('show.bs.collapse', function () {
            $(this).parent().find(".glyphicon").addClass("rotate");

        }).on('hide.bs.collapse', function () {
            $(this).parent().find(".glyphicon").removeClass("rotate");
        });

        $('.tabs .tab-links a').on('click', function (e) {
            var currentAttrValue = jQuery(this).attr('href');
            // Show/Hide Tabs
            $('.tabs ' + currentAttrValue).show().siblings().hide();
            // Change/remove current tab to active
            $(this).parent('li').addClass('active').siblings().removeClass('active');

            e.preventDefault();
        });

        $(document).on('click', '.question', function () {

            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
                $(this).find('.answer').hide();
            } else {
                $(this).addClass('active');
                $(this).siblings().removeClass('active');
                $(this).siblings().find('.answer').hide();
                $(this).find('.answer').show();
            }
        });





        $('#pinterest').click(function () {
            window.open('https://www.pinterest.com/pin/create/button/', '_blank');
        })
    });
    $(document).on('click', '.becomeBorrower', function (event) {
        $.ajax({
            url: "/Search/CheckVersion",
            type: "Get",
            async: false,
            success: function (data) {
                if (data != "True") {
                    $('#exampleModalBeta').modal('show');
                    event.preventDefault();

                }
                else {
                    $(".becomeBorrower").removeAttr("target");
                    window.open('/Search/Map', '_blank');
                }
            },
            error: function () {
                toastr.info("Error Occurred");
            }
        })

    });

</script>


@using (Html.BeginForm("FAQ", "Home", FormMethod.Post, new { @id = "FAQ" }))
{
    <section class="faq mainClass">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 searchTabSection">
                    <div class="col-md-4" style="display: flex; float:right;">
                        @Html.TextBoxFor(x => x.Filter, new { @class = "form-control filter" })
                        <input type="submit" class="btn btn-danger" value="Search">
                    </div>

                    <div class="faqInner">
                        <ul class="nav nav-tabs" id="navbar_ul">
                            @if (ViewBag.FAQCheck == true)
                            {
                                var length = 0;
                                var active = 0;

                                length = Model.FAQLists.Where(x => x.Type == (int)GlobalCode.Owners).Count();

                                if (length > 0)
                                {
                                    <li id="owners_li" class="active"><a data-toggle="tab" class="highlight_tab" href="#owners">Owners</a></li>
                                    active = 1;

                                }
                                else
                                {
                                    <li id="owners_li"><a data-toggle="tab" href="#owners"> Owners </a></li>
                                }


                                length = Model.FAQLists.Where(x => x.Type == (int)GlobalCode.Borrowers).Count();

                                if (length > 0)
                                {
                                    if (active > 0)
                                    {
                                        <li id="borrowers_li"><a data-toggle="tab" class="highlight_tab" href="#borrowers">Borrowers</a></li>
                                    }
                                    else
                                    {
                                        <li id="borrowers_li" class="active"><a data-toggle="tab" class="highlight_tab" href="#borrowers">Borrowers</a></li>
                                        active = 1;
                                    }

                                }
                                else
                                {
                                    <li id="borrowers_li"><a data-toggle="tab" href="#borrowers">Borrowers</a></li>
                                }


                                length = Model.FAQLists.Where(x => x.Type == (int)GlobalCode.General).Count();

                                if (length > 0)
                                {
                                    if (active > 0)
                                    {
                                        <li id="generals_li"><a data-toggle="tab" class="highlight_tab" href="#generals">General</a></li>
                                    }
                                    else
                                    {
                                        <li id="generals_li" class="active"><a data-toggle="tab" class="highlight_tab" href="#generals">General</a></li>
                                        active = 1;
                                    }

                                }
                                else
                                {
                                    <li id="generals_li"><a data-toggle="tab" href="#generals">General</a></li>
                                }



                                length = Model.FAQLists.Where(x => x.Type == (int)GlobalCode.BannedItems).Count();

                                if (length > 0)
                                {
                                    if (active > 0)
                                    {
                                        <li id="banneditems_li"><a data-toggle="tab" class="highlight_tab" href="#banneditems">Banned Items</a></li>
                                    }
                                    else
                                    {
                                        <li id="banneditems_li" class="active"><a data-toggle="tab" class="highlight_tab" href="#banneditems">Banned Items</a></li>
                                        active = 1;
                                    }

                                }
                                else
                                {
                                    <li id="banneditems_li"><a data-toggle="tab" href="#banneditems">Banned Items</a></li>
                                }

                                length = Model.FAQLists.Where(x => x.Type == (int)GlobalCode.ListItems).Count();

                                if (length > 0)
                                {
                                    if (active > 0)
                                    {
                                        <li id="listitems_li"><a data-toggle="tab" class="highlight_tab" href="#listitems">Rental Ideas</a></li>
                                    }
                                    else
                                    {
                                        <li id="listitems_li" class="active"><a data-toggle="tab" class="highlight_tab" href="#listitems">Rental Ideas</a></li>
                                        active = 1;
                                    }

                                }
                                else
                                {
                                    <li id="listitems_li"><a data-toggle="tab" href="#listitems">Rental Ideas</a></li>
                                }
                                @*length = Model.FAQLists.Where(x => x.Type == (int)GlobalCode.NotPermitted).Count();

                                    if (length > 0)
                                    {
                                        if (active > 0)
                                        {
                                            <li id="notpermitted_li"><a data-toggle="tab" class="highlight_tab" href="#notpermitted">Not permitted</a></li>
                                        }
                                        else
                                        {
                                            <li id="notpermitted_li" class="active"><a data-toggle="tab" class="highlight_tab" href="#notpermitted">Not permitted</a></li>
                                            active = 1;
                                        }

                                    }
                                    else
                                    {
                                        <li id="notpermitted_li"><a data-toggle="tab" href="#notpermitted">Not permitted</a></li>
                                    }*@
                                <li id="contactus_li"><a data-toggle="tab" href="#contactus">Contact Us</a></li>
                            }


                            else
                            {
                                <li id="owners_li" class="active"><a data-toggle="tab" href="#owners">Owners</a></li>
                                <li id="borrowers_li"><a data-toggle="tab" href="#borrowers">Borrowers</a></li>
                                <li id="generals_li"><a data-toggle="tab" href="#generals">General</a></li>
                                <li id="banneditems_li"><a data-toggle="tab" href="#banneditems">Banned Items</a></li>
                                <li id="listitems_li"><a data-toggle="tab" href="#listitems">Rental Ideas</a></li>
                                @*<li id="notpermitted_li"><a data-toggle="tab" href="#notpermitted">Not permitted</a></li>*@
                                <li id="contactus_li"><a data-toggle="tab" href="#contactus">Contact Us</a></li>


                            }

                        </ul>
                        <div class="tab-content">

                            <div id="owners" class="tab-pane fade in active">

                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        @foreach (var item in Model.FAQLists)
                                        {
                                            if (item.Type == (int)GlobalCode.Owners)
                                            {
                                                <div class="question">
                                                    <div class="title">
                                                        <i class="icon-plus fa fa-plus"></i>
                                                        <i class="icon-minus fa fa-minus"></i>
                                                        <i class=" icon-cog"></i>
                                                        &nbsp;&nbsp;@item.Question
                                                    </div>
                                                    <div class="answer" style="display: none;">
                                                        <p>@item.Answer</p>
                                                    </div>
                                                </div>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>

                            <div id="borrowers" class="tab-pane fade">

                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        @foreach (var item in Model.FAQLists)
                                        {
                                            if (item.Type == (int)GlobalCode.Borrowers)
                                            {
                                                <div class="question">
                                                    <div class="title">
                                                        <i class="icon-plus fa fa-plus"></i>
                                                        <i class="icon-minus fa fa-minus"></i>
                                                        <i class=" icon-cog"></i>
                                                        &nbsp;&nbsp;@item.Question
                                                    </div>
                                                    <div class="answer" style="display: none;">
                                                        <p>@item.Answer</p>
                                                    </div>
                                                </div>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>

                            <div id="generals" class="tab-pane fade">

                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        @foreach (var item in Model.FAQLists)
                                        {
                                            if (item.Type == (int)GlobalCode.General)
                                            {
                                                <div class="question">
                                                    <div class="title">
                                                        <i class="icon-plus fa fa-plus"></i>
                                                        <i class="icon-minus fa fa-minus"></i>
                                                        <i class=" icon-cog"></i>
                                                        &nbsp;&nbsp;@item.Question
                                                    </div>
                                                    <div class="answer" style="display: none;">
                                                        <p>@item.Answer</p>
                                                    </div>
                                                </div>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>

                            <div id="banneditems" class="tab-pane fade">

                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        @foreach (var items in Model.FAQLists)
                                        {
                                            if (items.Type == (int)GlobalCode.BannedItems)
                                            {
                                                if (items.Question == "Banned Items")
                                                {
                                                    <div class="question">
                                                        <div class="title">
                                                            <i class="icon-plus fa fa-plus"></i>
                                                            <i class="icon-minus fa fa-minus"></i>
                                                            <i class=" icon-cog"></i>
                                                            &nbsp;&nbsp;@items.Question
                                                        </div>
                                                        @foreach (var item in Model.FAQLists)
                                                        {
                                                            if (item.Type == (int)GlobalCode.BannedItems)
                                                            {
                                                                <div class="answer" style="display: none;">
                                                                    <ul id="menuBanned">
                                                                        <li>
                                                                            <p>@item.Answer</p>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                }
                                                if (items.Question != "Banned Items")
                                                {
                                                    continue;
                                                }
                                                else
                                                {
                                                    break;
                                                }
                                            }

                                        }
                                        @foreach (var items in Model.FAQLists)
                                        {

                                            if (items.Type == (int)GlobalCode.BannedItems)
                                            {
                                                if (items.Question == "Not permitted at this time")
                                                {
                                                    <div class="question">

                                                        <div class="title">
                                                            <i class="icon-plus fa fa-plus"></i>
                                                            <i class="icon-minus fa fa-minus"></i>
                                                            <i class=" icon-cog"></i>
                                                            &nbsp;&nbsp;@items.Question
                                                        </div>

                                                        @foreach (var item in Model.FAQLists)
                                                        {
                                                            if (item.Type == (int)GlobalCode.BannedItems)
                                                            {
                                                                if (item.Question == "Not permitted at this time")
                                                                {
                                                                    <div class="answer" style="display: none;">
                                                                        <ul id="menuListed">
                                                                            <li>
                                                                                <p>@item.Answer</p>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                }
                                                if (items.Question != "Not permitted at this time")
                                                {
                                                    continue;
                                                }
                                                else
                                                {
                                                    break;
                                                }
                                            }

                                        }
                                    </div>
                                </div>
                            </div>

                            <div id="listitems" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        @foreach (var items in Model.FAQLists)
                                        {
                                            if (items.Type == (int)GlobalCode.ListItems)
                                            {
                                                if (items.Question == "Clothing/Fashion")
                                                {
                                                    <div class="question">
                                                        <div class="title">
                                                            <i class="icon-plus fa fa-plus"></i>
                                                            <i class="icon-minus fa fa-minus"></i>
                                                            <i class=" icon-cog"></i>
                                                            &nbsp;&nbsp;@items.Question
                                                        </div>


                                                        @foreach (var item in Model.FAQLists)
                                                        {
                                                            if (item.Type == (int)GlobalCode.ListItems)
                                                            {
                                                                if (item.Question == "Clothing/Fashion")
                                                                {
                                                                    <div class="answer" style="display: none;">
                                                                        <ul id="menuListed">
                                                                            <li>
                                                                                <p>@item.Answer</p>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                            }
                                                        }

                                                    </div>
                                                }
                                                if (items.Question != "Clothing/Fashion")
                                                {
                                                    continue;
                                                }
                                                else
                                                {
                                                    break;
                                                }
                                            }

                                        }


                                        @foreach (var items in Model.FAQLists)
                                        {

                                            if (items.Type == (int)GlobalCode.ListItems)
                                            {
                                                if (items.Question == "Education")
                                                {
                                                    <div class="question">

                                                        <div class="title">
                                                            <i class="icon-plus fa fa-plus"></i>
                                                            <i class="icon-minus fa fa-minus"></i>
                                                            <i class=" icon-cog"></i>
                                                            &nbsp;&nbsp;@items.Question
                                                        </div>

                                                        @foreach (var item in Model.FAQLists)
                                                        {
                                                            if (item.Type == (int)GlobalCode.ListItems)
                                                            {
                                                                if (item.Question == "Education")
                                                                {
                                                                    <div class="answer" style="display: none;">
                                                                        <ul id="menuListed">
                                                                            <li>
                                                                                <p>@item.Answer</p>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                }
                                                if (items.Question != "Education")
                                                {
                                                    continue;
                                                }
                                                else
                                                {
                                                    break;
                                                }
                                            }

                                        }


                                        @foreach (var items in Model.FAQLists)
                                        {
                                            if (items.Type == (int)GlobalCode.ListItems)
                                            {
                                                if (items.Question == "Electronics")
                                                {
                                                    <div class="question">
                                                        <div class="title">
                                                            <i class="icon-plus fa fa-plus"></i>
                                                            <i class="icon-minus fa fa-minus"></i>
                                                            <i class=" icon-cog"></i>
                                                            &nbsp;&nbsp;@items.Question
                                                        </div>
                                                        @foreach (var item in Model.FAQLists)
                                                        {
                                                            if (item.Type == (int)GlobalCode.ListItems)
                                                            {
                                                                if (item.Question == "Electronics")
                                                                {
                                                                    <div class="answer" style="display: none;">
                                                                        <ul id="menuListed">
                                                                            <li>
                                                                                <p>@item.Answer</p>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                            }
                                                        }

                                                    </div>
                                                }
                                                if (items.Question != "Electronics")
                                                {
                                                    continue;
                                                }
                                                else
                                                {
                                                    break;
                                                }
                                            }

                                        }
                                        @foreach (var items in Model.FAQLists)
                                        {
                                            if (items.Type == (int)GlobalCode.ListItems)
                                            {
                                                if (items.Question == "Home")
                                                {
                                                    <div class="question">
                                                        <div class="title">
                                                            <i class="icon-plus fa fa-plus"></i>
                                                            <i class="icon-minus fa fa-minus"></i>
                                                            <i class=" icon-cog"></i>
                                                            &nbsp;&nbsp;@items.Question
                                                        </div>
                                                        @foreach (var item in Model.FAQLists)
                                                        {
                                                            if (item.Type == (int)GlobalCode.ListItems)
                                                            {
                                                                if (item.Question == "Home")
                                                                {
                                                                    <div class="answer" style="display: none;">
                                                                        <ul id="menuListed">
                                                                            <li>
                                                                                <p>@item.Answer</p>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                            }
                                                        }
                                                    </div>

                                                }
                                                if (items.Question != "Home")
                                                {
                                                    continue;
                                                }
                                                else
                                                {
                                                    break;
                                                }
                                            }

                                        }

                                        @foreach (var items in Model.FAQLists)
                                        {
                                            if (items.Type == (int)GlobalCode.ListItems)
                                            {
                                                if (items.Question == "Kitchen")
                                                {
                                                    <div class="question">
                                                        <div class="title">
                                                            <i class="icon-plus fa fa-plus"></i>
                                                            <i class="icon-minus fa fa-minus"></i>
                                                            <i class=" icon-cog"></i>
                                                            &nbsp;&nbsp;@items.Question
                                                        </div>
                                                        @foreach (var item in Model.FAQLists)
                                                        {
                                                            if (item.Type == (int)GlobalCode.ListItems)
                                                            {
                                                                if (item.Question == "Kitchen")
                                                                {
                                                                    <div class="answer" style="display: none;">
                                                                        <ul id="menuListed">
                                                                            <li>
                                                                                <p>@item.Answer</p>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                            }
                                                        }
                                                    </div>

                                                }
                                                if (items.Question != "Kitchen")
                                                {
                                                    continue;
                                                }
                                                else
                                                {
                                                    break;
                                                }
                                            }

                                        }


                                        @foreach (var items in Model.FAQLists)
                                        {
                                            if (items.Type == (int)GlobalCode.ListItems)
                                            {
                                                if (items.Question == "Leisure/Outdoors")
                                                {
                                                    <div class="question">
                                                        <div class="title">
                                                            <i class="icon-plus fa fa-plus"></i>
                                                            <i class="icon-minus fa fa-minus"></i>
                                                            <i class=" icon-cog"></i>
                                                            &nbsp;&nbsp;@items.Question
                                                        </div>
                                                        @foreach (var item in Model.FAQLists)
                                                        {
                                                            if (item.Type == (int)GlobalCode.ListItems)
                                                            {
                                                                if (item.Question == "Leisure/Outdoors")
                                                                {
                                                                    <div class="answer" style="display: none;">
                                                                        <ul id="menuListed">
                                                                            <li>
                                                                                <p>@item.Answer</p>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                }
                                                if (items.Question != "Leisure/Outdoors")
                                                {
                                                    continue;
                                                }
                                                else
                                                {
                                                    break;
                                                }
                                            }

                                        }
                                        @foreach (var items in Model.FAQLists)
                                        {
                                            if (items.Type == (int)GlobalCode.ListItems)
                                            {
                                                if (items.Question == "Space")
                                                {
                                                    <div class="question">
                                                        <div class="title">
                                                            <i class="icon-plus fa fa-plus"></i>
                                                            <i class="icon-minus fa fa-minus"></i>
                                                            <i class=" icon-cog"></i>
                                                            &nbsp;&nbsp;@items.Question
                                                        </div>
                                                        @foreach (var item in Model.FAQLists)
                                                        {
                                                            if (item.Type == (int)GlobalCode.ListItems)
                                                            {
                                                                if (item.Question == "Space")
                                                                {
                                                                    <div class="answer" style="display: none;">
                                                                        <ul id="menuListed">
                                                                            <li>
                                                                                <p>@item.Answer</p>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                            }
                                                        }
                                                    </div>

                                                }
                                                if (items.Question != "Space")
                                                {
                                                    continue;
                                                }
                                                else
                                                {
                                                    break;
                                                }
                                            }

                                        }

                                        @foreach (var items in Model.FAQLists)
                                        {
                                            if (items.Type == (int)GlobalCode.ListItems)
                                            {
                                                if (items.Question == "Tools")
                                                {
                                                    <div class="question">
                                                        <div class="title">
                                                            <i class="icon-plus fa fa-plus"></i>
                                                            <i class="icon-minus fa fa-minus"></i>
                                                            <i class=" icon-cog"></i>
                                                            &nbsp;&nbsp;@items.Question
                                                        </div>
                                                        @foreach (var item in Model.FAQLists)
                                                        {
                                                            if (item.Type == (int)GlobalCode.ListItems)
                                                            {
                                                                if (item.Question == "Tools")
                                                                {
                                                                    <div class="answer" style="display: none;">
                                                                        <ul id="menuListed">
                                                                            <li>
                                                                                <p>@item.Answer</p>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                }
                                                if (items.Question != "Tools")
                                                {
                                                    continue;
                                                }
                                                else
                                                {
                                                    break;
                                                }
                                            }

                                        }

                                        @foreach (var items in Model.FAQLists)
                                        {
                                            if (items.Type == (int)GlobalCode.ListItems)
                                            {
                                                if (items.Question == "Events/Entertainment")
                                                {
                                                    <div class="question">
                                                        <div class="title">
                                                            <i class="icon-plus fa fa-plus"></i>
                                                            <i class="icon-minus fa fa-minus"></i>
                                                            <i class=" icon-cog"></i>
                                                            &nbsp;&nbsp;@items.Question
                                                        </div>
                                                        @foreach (var item in Model.FAQLists)
                                                        {
                                                            if (item.Type == (int)GlobalCode.ListItems)
                                                            {
                                                                if (item.Question == "Events/Entertainment")
                                                                {
                                                                    <div class="answer" style="display: none;">
                                                                        <ul id="menuListed">
                                                                            <li>
                                                                                <p>@item.Answer</p>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                            }
                                                        }
                                                    </div>

                                                }
                                                if (items.Question != "Events/Entertainment")
                                                {
                                                    continue;
                                                }
                                                else
                                                {
                                                    break;
                                                }
                                            }

                                        }
                                    </div>
                                </div>
                            </div>

                            @*<div id="notpermitted" class="tab-pane fade">

                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            @foreach (var items in Model.FAQLists)
                                            {
                                                if (items.Type == (int)GlobalCode.NotPermitted)
                                                {
                                                    if (items.Question == "Not permitted")
                                                    {
                                                        <div class="question">
                                                            <div class="title">
                                                                <i class="icon-plus fa fa-plus"></i>
                                                                <i class="icon-minus fa fa-minus"></i>
                                                                <i class=" icon-cog"></i>
                                                                &nbsp;&nbsp;@items.Question
                                                            </div>
                                                            @foreach (var item in Model.FAQLists)
                                                            {
                                                                if (item.Type == (int)GlobalCode.NotPermitted)
                                                                {
                                                                    <div class="answer" style="display: none;">
                                                                        <ul id="menuNotPermitted">
                                                                            <li>
                                                                                <p>@item.Answer</p>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    }
                                                    break;
                                                }

                                            }
                                        </div>
                                    </div>
                                </div>*@


                            <div id="contactus" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h4>Contact Us</h4>
                                        <p>If there are any questions you may contact us using the information below.</p>
                                        <p>
                                            <a href="http://www.momentarily.com">www.momentarily.com</a>
                                        </p>
                                        <p>
                                            1007 N Sepulveda Blvd #0293, Manhattan Beach, CA 90267
                                        </p>
                                        <p><a href="mailto:help@momentarily.com">help@momentarily.com</a></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<div class="modal fade socialPopupModal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content col-12">
            <div class="modal-header">
                <h5 class="modal-title">Share <b>momentarily</b> with your network</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <div class="icon-container1 d-flex row">
                    <div class="col-sm-12">
                        <div class="smd col-sm-3">
                            <a href="#" target="_blank" id="pinterest">
                                <i class=" img-thumbnail fa fa-pinterest fa-2x" style="color:#4c6ef5;background-color: #eceff5"></i>
                                <p class="socialIconStyle">Pinterest</p>
                            </a>
                        </div>
                        <div class="smd col-sm-3">
                            <a href="http://twitter.com/share?url=@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)" target="_blank">
                                <i class=" img-thumbnail fa fa-twitter fa-2x" style="color:#4c6ef5;background-color: #eceff5"></i>
                                <p class="socialIconStyle">Twitter</p>
                            </a>
                        </div>
                        <div class="smd col-sm-3">
                            <a href="http://www.facebook.com/share.php?u=@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)" target="_blank">
                                <i class="img-thumbnail fa fa-facebook fa-2x" style="color: #3b5998;background-color: #eceff5;"></i>
                                <p class="socialIconStyle">Facebook</p>
                            </a>
                        </div>

                        <div class="smd col-sm-3">
                            <a href="https://www.linkedin.com/sharing/share-offsite/?url=@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)" target="_blank">
                                <i class="img-thumbnail fa fa-linkedin fa-2x" style="color: #337ab7;background-color: #eceff5;"></i>
                                <p class="socialIconStyle">LinkedIn</p>
                            </a>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>