@{
    ViewBag.Title = "HowItWorks";
    Layout = "~/Areas/Frontend/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/bundles/cssAccount")
@Styles.Render("~/bundles/cssHowItWorks")
@Styles.Render("~/bundles/cssHome")

<div class="content">
    <div class="how-it-works-block">
        <div class="title-background">
            <div class="title-block">
                <h1>How it Works</h1>
                <h2>We help active people (Seekers) connect with trusted gear owners (Sharers) around the world.</h2>
            </div>
        </div>
        <div class="jumbotron-own">
            <div class="container">
                <div class="description-box">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Renting</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="media-block">
                                <div class="pull-left">
                                    <div class="ds-icon">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h3>Find Gear</h3>
                                    <p>
                                        Use our search to find surfboards, kayaks, snowboards, bags, tents and more gear near you.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="media-block">
                                <div class="pull-left">
                                    <div class="ds-icon">
                                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h3>Contact the Sharer</h3>
                                    <p>
                                        Request the date you need the gear and message the owner with any questions.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="media-block">
                                <div class="pull-left">
                                    <div class="ds-icon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h3>Book It</h3>
                                    <p>
                                        Confirm and pay with your credit card through our secure system, then pick up your gear.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-how-it-work" data-ng-controller="HomeController as home" data-ng-cloak>
                        <div class="col-md-4 col-md-offset-4">
                            <form name="search"
                                  class="home-search"
                                  data-ng-submit="home.submitForm($event, search)"
                                  action='@Url.Action("Map","Search")'
                                  method="GET"
                                  novalidate>

                                <div class="form-group">
                                    <input name="Location"
                                           data-ng-model="home.location.Name"
                                           autocomplete-location
                                           class="form-control input-style-how-it-work location-input"
                                           data-ng-class="{'error-input': search.$submitted && search.Location.$error.autocompleter}"
                                           placeholder="Enter location"
                                           latitude="home.location.Location.Latitude"
                                           longitude="home.location.Location.Longitude"
                                           place-filter="(regions)">

                                    <span class="error-msg"
                                          data-ng-show="search.$submitted && search.Location.$error.autocompleter"
                                          style="display: block; margin-bottom: -17px;">
                                        You must select location from the list
                                    </span>


                                    <input type="hidden" name="Latitude" data-ng-value="home.location.Location.Latitude" />
                                    <input type="hidden" name="Longitude" data-ng-value="home.location.Location.Longitude" />

                                    <button type="submit" class="btn btn-green pull-right">Start Exploring</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
                <div class="description-box">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Listing</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="media-block">
                                <div class="pull-left">
                                    <div class="ds-icon">
                                        <i class="fa fa-list" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h3>List your Gear</h3>
                                    <p>Enter in the details of your gear. Don’t forget to take some clear pictures too!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="media-block">
                                <div class="pull-left">
                                    <div class="ds-icon">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h3>Communicate and Pre-Approve</h3>
                                    <p>Seekers will send you requests with a date. You can pre-approve it, or suggest a different time.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="media-block">
                                <div class="pull-left">
                                    <div class="ds-icon">
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h3>Rent It Out and Make Money</h3>
                                    <p>When the Seeker confirms and pays, they can pick the gear up. momentarily will pay you after the rental is complete.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-how-it-work">
                        <div class="col-md-4 col-md-offset-4 text-center">
                            <div class="form-group">
                                <a href='@Url.Action("Create","Listing")' class="btn btn-green">Become a Sharer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description-box">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Security Deposit</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="media-block">
                                <div class="pull-left"><div class="ds-icon"><i class="fa fa-smile-o" aria-hidden="true"></i></div></div>
                                <div class="media-body">
                                    <h3>Peace of Mind</h3>
                                    <p>Although it is unlikely anything bad will happen to your gear on momentarily, we understand that you need piece of mind. With our security deposit feature, you can set a security amount on your listings to cover possible damages.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="media-block">
                                <div class="pull-left"><div class="ds-icon"><i class="fa fa-question" aria-hidden="true"></i></div></div>
                                <div class="media-body">
                                    <h3>Make a Claim</h3>
                                    <p>If you want to make a claim on your security deposit, you can do so within our secure online system within 48 hours of the Seeker’s gear return time.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="media-block">
                                <div class="pull-left"><div class="ds-icon"><i class="fa fa-usd" aria-hidden="true"></i></div></div>
                                <div class="media-body">
                                    <h3>Mediation and Compensation</h3>
                                    <p>Once submitted, momentarily will help mediate the security claim. With sufficient evidence and documentation most claims will be resolved within a week.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron-own">
            <div class="container">
                <h1>How We Build Trust</h1>
                <h2>momentarily is a community of like-minded people, built on sharing, sustainability, and trust.</h2>
                <div class="description-box">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="media-block">
                                <div class="pull-left">
                                    <div class="ds-icon">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h3>ID Verification</h3>
                                    <p>Seekers and Sharers verify their momentarily accounts with their mobile phone number, email and Credit Card. The verification validates your online identity and builds trust, helping people get a better idea of who they’re renting to or from.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="media-block">
                                <div class="pull-left">
                                    <div class="ds-icon">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h3>Community Reviews</h3>
                                    <p>Reviews are collected from the Seeker and the Sharer following every rental in order to self regulate our community. Reviews are left on display for both parties, so you can hear first hand about other people’s experiences with the great people on momentarily.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="media-block">
                                <div class="pull-left">
                                    <div class="ds-icon">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h3>Privacy</h3>
                                    <p>We NEVER share your information with anyone until you confirm their rental. You can keep all communications in our secure, private messaging system so you don’t need to share your contact info, and you can choose whether you’d like to meet if you’d rather not share your address.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-how-it-work">
                        <div class="col-md-4 col-md-offset-4 text-center">
                            <div class="form-group">
                                <a href='@Url.Action("Create","Listing")' class="btn btn-green">Become a Sharer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron-own">
            <div class="container">
                <h1>About momentarily</h1>
                <h2>momentarily is Australia's first dedicated outdoor equipment sharing platform.</h2>
                <div class="about-box">
                    <h3>What is <b>momentarily</b>?</h3>
                    <div class="about-row">
                        <p><b>momentarily</b> is an Australian-based peer-to-peer sharing platform to match gear-seekers and gear-sharers, for the use of gear which can be expensive to buy outright or rent from a store. Outdoor sporting and adventure gear is our primary focus. Seekers can search for available gear in their location and Sharers are rewarded for sharing their gear.</p>
                    </div>
                    <div class="about-row">
                        <p>We want to make it easier for everyone to make use of the personal outdoor equipment which often isn’t utilised on a daily basis.</p>
                    </div>
                    <div class="about-row">
                        <p>Every year, millions of dollars go into the purchase of new equipment, much of which is under-utilised. Even more people would like to try a new outdoor activity, but the high costs of purchasing new board, kite, kayak, etc. is unfortunately a deterrent for many.</p>
                    </div>

                    <div class="about-row">
                        <p>We would like to foster a community of sharing and sustainability, where anyone can easily try something new, make the most of your existing gear instead of collecting dust, and contribute our part to global sustainability by spending less and halting unnecessary consumption!</p>
                    </div>

                    <div class="about-row">
                        <p>We encourage you to Become a Sharer, and share what you love with Seekers who are just like you. Visit our website and sign up today!</p>
                    </div>
                    <div class="about-ps">*<b>momentarily</b> does not sell anything, nor does it carry any stock for items. momentarily serves as a platform to connect Seekers with Sharers for the rent of outdoor gear.</div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/scripts/Home")
<script>
    var angularConstants = {};
    angularConstants = {
        Categories: []
    };
</script>


