 
@{
    Layout = "~/Areas/Frontend/Views/Shared/_LayoutNew.cshtml";
}

@section meta
    {
    <meta property="title" content="@ViewBag.Title" />
    <meta property="description" content="@ViewBag.Description" />
}
<link href="~/Content/CustomCssFiles/CommonForAllPages.css" rel="stylesheet" />
@using (Html.BeginForm("HowItWorks", "Home", FormMethod.Post, new { @id = "IdHowItWorks" }))
{
    <section class="mainDiv">
        <div class="homeBanner">
            <img src="~/Content/TemplateImg/OtherImages/banner1.jpg" alt="image" />
        </div>
    </section>
<section class="howItWorks">
<div class="container">
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="howItWorksDesc text-center">
            <h1>How it Works</h1>
            <p><b>Become a member.It's free.</b> </p>
            <a href = "@Url.Action("Register", "Account")" class="btn btn-primary">Sign Up</a>

            <h4 class="mt-80">List items to share/find item to borrow.</h4>
        </div>
    </div>
</div>
<!--  <div class="row mb-80">
     <div class="howWorks-container">
    <div class="col-md-6 col-sm-6 col-xs-6 full">
       <div class="memberSectionImage">
          <img src = "images/freeimage.png" alt="image"/>
             <h2>become A member</h2>
          <div class="arrowImage"><img src = "images/arrowimage.png" alt="image"/></div>
       </div>
    </div>
    <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-6 full">
       <div class="memberSection">

          <div class="signUp">
             <a href = "#" >< img src="images/signupimage.png" alt="image"/>
             <p>Sign Up</p>
                 </a>
          </div>
       </div>
    </div>
 </div>
  </div> -->
<div class="row">
    <div class="howWorks-container">
        <div class="col-sm-6 col-xs-12">
            <div class="sharersection">
                <img src="~/Content/TemplateImg/OtherImages/sharerimage.png" alt="image" />
                <div class="sharerHeading">Borrow</div>
            </div>
            <div class="listItems sharer text-right">
                <div class="listtIcon"><img src="~/Content/TemplateImg/OtherImages/icons/search.png" alt="image" /></div>
                <h4>Search</h4>
                <p>Search for items in your location<br> based on your criteria.</p>
            </div>
            <div class="listItems sharer text-left">
                <div class="listtIcon"><img src="~/Content/TemplateImg/OtherImages/icons/schedule.png" alt="image" /></div>
                <h4>Schedule and Pay</h4>
                <p>Schedule and pay for rental items. <br> Choose pick-up or delivery.</p>
            </div>
            <div class="listItems sharer text-right">
                <div class="listtIcon"><img src="~/Content/TemplateImg/OtherImages/icons/pickup.png" alt="image" /></div>
                <h4>Pick Up</h4>
                <p>Pick up the item or be present at the<br> agreed-upon location for item transfer.</p>
            </div>
            <div class="listItems sharer text-left">
                <div class="listtIcon"><img src="~/Content/TemplateImg/OtherImages/icons/return.png" alt="image" /></div>
                <h4>Return</h4>
                <p>Have fun using the rented item, <br> then return it on time.</p>
</div>
<div class="listItems sharer text-right">
    <div class="listtIcon"><img src="~/Content/TemplateImg/OtherImages/icons/rate.png" alt="image" /></div>
    <h4>Rate</h4>
    <p>Rate your experience with the owner, and <br> find more items to borrow.</p>
</div>
</div>
<div class="col-sm-6 col-xs-12">
    <div class="borrowSection">
        <img src="~/Content/TemplateImg/OtherImages/borrowimage.png" alt="image" />
        <div class="borrowHeading">Share</div>
    </div>
    <div class="listItems borrower text-left">
        <div class="listtIcon"><img src="~/Content/TemplateImg/OtherImages/icons/list.png" alt="image" /></div>
        <h4>List items</h4>
        <p>Add descriptions, photos, <br />availability, etc.</p>
    </div>
    <div class="listItems borrower text-right">
        <div class="listtIcon"><img src="~/Content/TemplateImg/OtherImages/icons/deliver.png" alt="image" /></div>
        <h4>Deliver</h4>
        <p>Deliver your item or be present at the <br> agreed-upon location on time.</p>

    </div>
    <div class="listItems borrower text-left">
        <div class="listtIcon"><img src="~/Content/TemplateImg/OtherImages/icons/collect.png" alt="image" /></div>
        <h4>Collect Item</h4>
        <p>Collect your item when the rental <br> period had ended.</p>
    </div>
    <div class="listItems borrower text-right">
        <div class="listtIcon"><img src="~/Content/TemplateImg/OtherImages/icons/get-paid.png" alt="image" /></div>
        <h4>Get Paid</h4>
        <p>Get paid when the rental<br> has been completed</p>
    </div>
    <div class="listItems borrower text-left">
        <div class="listtIcon"><img src="~/Content/TemplateImg/OtherImages/icons/rate.png" alt="image" /></div>
        <h4>Rate</h4>
        <p>Rate your experience with the borrower, <br> and prep your item for its next rental.</p>
    </div>
</div>
</div>
</div>
</div>
</section>
<section class="charges">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="chargesDesc">
                    <h5>Service Charges</h5>
                    <p>Both owners and borrowers are charged a small service <br> fee with each item loan/rental.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="chargesDesc">
                    <h5>Delivery Charges</h5>
                    <p>If item delivery is offered, borrowers are charged a delivery <br> fee based upon distance to drop-off location.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="subscribeInner">
                    <h4>Subscribe to Our Newsletter</h4>
                    <p>For latest updates and news</p>
                    <!---->
                    <div class="input-group">
                        <input type="email" id="subscribeEmail" class="form-control" placeholder="Enter your email">
                        <span class="input-group-btn">
                            <button type="button" id="btn_subscribe" class="btn">Subscribe</button>
                        </span>
                    </div>
                    <span class="subscribe_msg red" id="subscribe_msg_error" style="display:none; text-align:left;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Invalid email address.</span>
                    <span class="subscribe_msg green" id="subscribe_msg_error2" style="display:none; text-align:left;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Please enter email address.</span>
                    <!---->
                </div>
            </div>
        </div>
    </div>

    <div id="divLoading">
        <p>
            Loading. Please wait...<br />
            <span>
                <img src="~/Content/Images/circleloadinganimationOrignal.gif" alt="image" />
            </span>
        </p>

    </div>
</section>

<!--footer section-->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12 full">
                <div class="footerDesc">
                    <h5>momentarily</h5>
                    <p>A peer-to-peer marketplace for people and businesses to share their belongings for an affordable price, or borrow something for the moment.</p>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-1 col-sm-12 col-xs-12 ">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4 full">
                        <div class="footerDesc">
                            <h5>Company</h5>
                            <ul>
                                <li><a href="@Url.Action("Index", "Home")" id="btn_home" "><i class="fa fa-caret-right" aria-hidden="true"></i> Home</a></li>
                                <li><a href="@Url.Action("AboutUs", "Home")"><i class="fa fa-caret-right" aria-hidden="true"></i> About Us</a></li>
                                <li><a href="@Url.Action("FAQ", "Home")"><i class="fa fa-caret-right" aria-hidden="true"></i>  FAQ</a></li>
                                <!--  <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Videos</a></li>
                                   <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Blog</a></li>
                                   <li><a href="/contactus"><i class="fa fa-caret-right" aria-hidden="true"></i> Help</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 full">
                        <div class="footerDesc">
                            <h5>Quick Links</h5>
                            <ul>
                                <li><a href="@Url.Action("HowItWorks", "Home")"><i class="fa fa-caret-right" aria-hidden="true"></i> How it Works </a></li>
                                <li><a href="@Url.Action("Create", "Listing")"><i class="fa fa-caret-right" aria-hidden="true"></i> Share </a></li>
                                <li><a href="" id="becomeBorrower"><i class="fa fa-caret-right" aria-hidden="true"></i> Borrow </a></li>
                                <li><a href="@Url.Action("index", "sendhelp")"><i class="fa fa-caret-right" aria-hidden="true"></i>  Help</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 full">
                        <div class="footerDesc">
                            <h5>Contact Us</h5>
                            <ul>
                                <li><a href="mailto:hello@momentarily.com"><i class="fa fa-envelope" aria-hidden="true"></i> hello@momentarily.com</a></li>
                            </ul>
                            <ul class="socialLinks">
                                <li><a href="https://www.instagram.com/momentarily/" target="_blank" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.facebook.com/momentarily" target="_blank" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li>
                                    <a href="https://twitter.com/momentarilycom" target="_blank" title="
                                 Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="https://www.youtube.com/momentarily" target="_blank" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>

                                <li id="pintrest"><a href="https://www.pinterest.com/momentarilycom/" target="_blank" title="pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!---->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="copyrightDesc">
                    <ul>
                        <li><a href="/termsofuse">Terms &amp; Conditions</a></li>
                        <li><a href="/privacypolicy" class="ppBtn"><img src="~/Content/TemplateImg/images/privacy-policy_icon.png" alt="image" /> Privacy Policy</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="copyrightDesc">
                    <p>@DateTime.Now.Year <b>momentarily</b><sup id="trademark">TM</sup></p>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#" id="scroll" style="display:none;" title="Bottom to Top Scroll">
    <span class="goto">Go To</span> <span class="top-text">Top</span>
</a>
}


<script src="~/Content/TemplateImg/js/jquery.min.js"></script>
<script src="~/Content/TemplateImg/js/bootstrap.min.js"></script>
<script src="~/Content/TemplateImg/js/jquery.nicescroll.min.js"></script>
<script src="~/Content/TemplateImg/js/owl.carousel.js"></script>
<link href="~/Content/ToastMessage/toastr.css" rel="stylesheet" />
<script src="~/Content/ToastMessage/toastr.min.js"></script>

<style>
    #divLoading {
        margin: 0px;
        padding: 0px;
        position: fixed;
        right: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: #666666;
        z-index: 30001;
        opacity: .8;
        filter: alpha(opacity=70);
        display: none
    }

        #divLoading p {
            position: fixed;
            top: 30%;
            left: 45%;
            color: White;
        }

        #divLoading span > img {
            padding-left: 44px;
        }
</style>

<script>
        $(document).on('click', '#becomeBorrower', function () {                $.ajax({            url: "/Search/CheckVersion",            type: "Get",            success: function (data) {                if (data != "True") {                    $('#exampleModalBeta').modal('show');                }                else {                    window.location.href = '/Search/Map';                }            },            error: function () {                toastr.info("Error Occurred");            }        })    });
    $(document).ready(function () {

        //$('#pintrest').click(function () {
        //    window.open('https://www.pinterest.com/momentarilycom/', '_blank');
        //})


        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('#scroll').fadeIn();
            } else {
                $('#scroll').fadeOut();
            }
        });
        $('#scroll').click(function () {
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });
    });
    $("#btn_subscribe").click(function () {

        var email = $("#subscribeEmail").val();
        if (email == undefined || email == '') {
            $("#subscribeEmail").focus();
            $("#subscribe_msg_error2").css("display", "block");
            $("#subscribe_msg_error").css("display", "none");
            return;
        }
        else if (!ValidateEmail(email)) {
            $("#subscribeEmail").focus();
            $("#subscribe_msg_error2").css("display", "none");
            $("#subscribe_msg_error").css("display", "block");
            return;
        }
        else {
            $('#divLoading').show();
            $.ajax({
                url: "/Account/Subscribe",
                type: "Post",
                dataType: "json",
                data: { Email: email },
                success: function (data) {
                    if (data == "Subscribed") {
                        toastr.success(data);
                        $("#subscribeEmail").val('');
                        $("#subscribe_msg_error2").css("display", "none");
                        $("#subscribe_msg_error").css("display", "none");
                        $('#divLoading').hide();
                    }
                    else {
                        toastr.info(data);
                        $("#subscribeEmail").val('');
                        $("#subscribe_msg_error2").css("display", "none");
                        $("#subscribe_msg_error").css("display", "none");
                        $('#divLoading').hide();
                    }
                },
                error: function () {
                    toastr.info("Error Occurred");
                    $('#divLoading').hide();
                }
            })
        }

    });
    function ValidateEmail(email) {
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        return expr.test(email);
    };

</script>
