@model Apeek.Common.IShape<Apeek.ViewModels.Models.UserPwdModel>

@{
  var header = "";
  var btnLabel = "";
  var hasEmptyPassword = false; //!Shape.ViewModel.HasPwd
  }

@if (hasEmptyPassword)
{
     header = "Установите пароль";
     btnLabel = "Сохранить";
}
else
{
      header = "Изменения пароля";
      btnLabel = "Изменить";
}


@if (Shape.ViewModel.Result.HasValue)
{
    if (Shape.ViewModel.Result.Value)
    {
        <div class="notification ok">
            <div class="icon"></div>
            <div class="text">@t("Ваш пароль был изменен")</div>
        </div>
        <script>
            function main() {
                ga('send', 'event','Account','UserPwd', 'Saved');
            }
        </script>
    }
    else
    {
        <div class="notification error">
            <div class="icon"></div>
            <div class="text">@t("Не удалось изменить ваш пароль")</div>
        </div>
        <script>
            function main() {
                ga('send', 'event','Account', 'UserPwd', 'error');
            }
        </script>
    }
}


<h1>@header</h1>  
@if (hasEmptyPassword)
{
    <div class="tip_attension">
        <div class="icon attension" style="margin-top:-3px;"></div>
        Вы не установили пароль. Пожалуйста установите пароль для удобного пользования сайтом
    </div>
}
<div class="tab">
    @using (Html.BeginForm())
    {
        <label>@t("Пароль")</label>
        @Html.PasswordFor(m => m.ViewModel.NewPassword)
        @Html.ValidationMessageFor(m => m.ViewModel.NewPassword)
        <label>@t("Повторите пароль")</label>
        @Html.PasswordFor(m => m.ViewModel.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ViewModel.ConfirmPassword)
        <br/><br/>
        <input type="submit" value="@t(@btnLabel)" id="submit" class="btn green" />
    }
</div>
