@using Apeek.Common
@model Apeek.Common.IShape<Apeek.ViewModels.Models.UserEmailModel>

@{
    Layout = "UserSettings.cshtml";
    var header = "";
    var btnLabel = "";
    var EmptyEmail = string.IsNullOrWhiteSpace(User.EmailAddress);
  }

@if (EmptyEmail)
{
    header = "Добавьте контактный email";
     btnLabel = "Сохранить";
}
else
{
      header = "Изменить email";
      btnLabel = "Изменить";
}

@if (Shape.ViewModel.Result.HasValue)
{
    Html.RenderPartial("UserNotification", Shape.ViewModel.Result.Value);
}
<h1>@header</h1>  
@if (EmptyEmail)
{
    <div class="tip_attension">
        <div class="icon attension" style="margin-top:-3px;"></div>
        Введите ваш email, чтобы иметь всегда связь с вашими клиентами!
    </div>
}

<div class="tab">
    @using (Html.BeginFormAntiForgeryPost())
    {
        <input type="hidden" name="ViewModel.OldUserEmail" id="EntityId" value="@Shape.ViewModel.OldUserEmail" />
    
        <label>@t("Email")</label>
        @Html.TextBoxFor(m => m.ViewModel.UserEmail, new { placeholder = "shevchenko@gmail.com", style = "width:200px;" })
        <div class="input_tip">не публикуется</div>
        @Html.TValidationMessageFor(m => m.ViewModel.UserEmail, t, null)
        <br/>
        <input type="submit" value="@t(@btnLabel)" id="submit" class="btn green" />
    }
</div>
