@model Apeek.Common.IShape<Apeek.ViewModels.Models.UserUpdateModel>

<h1>@t("My profile information")</h1>

<div class="tab">
    @using (Html.BeginForm())
    {
        <label>@t("First Name")</label>
        @Html.TextBoxFor(m => m.ViewModel.FirstName)
        @Html.ValidationMessageFor(m => m.ViewModel.FirstName)
        <label>@t("Last Name")</label>
        @Html.TextBoxFor(m => m.ViewModel.LastName)
        @Html.ValidationMessageFor(m => m.ViewModel.LastName)
        <br/><br/>
        
        <input type="submit" value="@t("Save")" id="submit" class="btn green" />
    }
</div>

