@model Apeek.ViewModels.Models.Impl.UserDashboardViewModel

@{

    ViewBag.Title = "User Dashboard";
    Layout = "~/Areas/Frontend/Views/Shared/_LayoutUserDashboard.cshtml";

    var mostloanedItemsList = Model.mostloanedItems.ToList();
    var totalBorrowersListbyUser = Model.totalBorrowersListbyUser.ToList();
    var totalearnedbyMonth = Model.totalUserEarningByMonth.ToList();
    var totalspendbyMonth = Model.totalUserSpendByMonth.ToList();

}

<!-- Font Awesome Icons -->
@*<link href="~/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />*@
<link href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" rel="stylesheet" />
<link href="~/UserContent/adminlte.min.css" rel="stylesheet" />

<!-- Main content -->
<section class="content mainClass">
    <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">

                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fa fa-share"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Total Shared Items</span>
                        <span class="info-box-number">
                            @Model.mostloanedItemsCount
                            <small></small>
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>

                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-spinner"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Total Borrowed Items</span>
                        <span class="info-box-number">@Model.totalBorrowersCountbyUser</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fa fa-money"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Total earned</span>

                        <span class="info-box-number" id="totalEarnedID"></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fa fa-shopping-cart"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Total spent</span>
                        <span class="info-box-number" id="totalSpendID"></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>


        <div class="row">


            <div class="col-md-6">

                <!-- PIE CHART -->
                <div class="card card-info">
                    <div class="card-header">
                        @*<h3 class="card-title">Most Shared Items List</h3>*@
                        <h3 class="card-title">Total earned last one year</h3>

                        <div class="card-tools">

                        </div>
                    </div>
                    <div class="card-body">
                        <div id="chartContainermonthWiseEarned" style="height: 300px; width: 100%;"></div>
                    </div>

                </div>

            </div>
            <div class="col-md-6">

                <!-- DONUT CHART -->
                <div class="card card-info">
                    <div class="card-header">
                        @*<h3 class="card-title">Most Borrowers Items List</h3>*@
                        <h3 class="card-title">Total spend last one year</h3>
                        <div class="card-tools">
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="chartContainermonthWiseSpend" style="height: 300px; width: 100%;"></div>
                    </div>
                    <!-- /.card-body -->
                </div>



            </div>
        </div>

        <div class="row">


            <div class="col-md-6">

                <!-- PIE CHART -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Most Shared Items List</h3>


                        <div class="card-tools">

                        </div>
                    </div>
                    <div class="card-body">
                        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                    </div>

                </div>

            </div>
            <div class="col-md-6">

                <!-- DONUT CHART -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Most Borrowers Items List</h3>

                        <div class="card-tools">
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
                    </div>
                    <!-- /.card-body -->
                </div>



            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Total Shared Items List</h3>
                    </div>

                    <div class="card-body responsive">

                        <table class="table table-striped table-bordered bootstrap-datatable datatable responsive" id="id_sharedItems">
                            <thead>
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Product Id</th>
                                    <th>Name</th>
                                    <th>Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int count = 1; }
                                @for (int i = 0; i < Model.mostloanedItems.Count(); i++)
                                {
                                    <tr>
                                        <td>
                                            @count
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => m.mostloanedItems[i].Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => m.mostloanedItems[i].ItemName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => m.mostloanedItems[i].Count)
                                        </td>
                                    </tr>
                                    count++;
                                }

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

        </div>

        <!--<div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Rating/Reviews</h3>
                    </div>

                    <div class="card-body responsive">
                        <div class="photo-user">
                            <div class="img-container">
                                <img src="{{profile.profileData.User.UserProfileImageUrl}}" on-error-src="/Content/Img/profile-thumb.svg" />
                            </div>
                        </div>
                        <div class="user-name">
                            {{profile.profileData.User.FirstName}}--> @*{{profile.profileData.User.LastName}}*@
                        <!--</div>
                        <div class="rate-block separated-block">
                            <ng-rate-it ng-model="profile.profileData.Rank" read-only="true"></ng-rate-it>
                            <span class="rate-number">(<span>{{profile.profileData.ReviewCount}}</span>)</span>
                        </div>

                        <div class="cancel_block">
                            <span ng-if="profile.profileData.TotalRentals<=0">
                                No rentals yet
                            </span>

                            <span ng-if="profile.profileData.TotalRentals>0 && profile.profileData.TotalCancelledRentals<=0">
                                0% Cancellation Rate
                            </span>

                            <span ng-if="profile.profileData.TotalRentals>0 && profile.profileData.TotalCancelledRentals>0">
                                {{profile.profileData.CancelledPercentage}}% Cancellation Rate
                            </span>
                        </div>
                        <hr />
                        <div class="user-description">{{profile.profileData.User.Description}}</div>

                    </div>

                </div>

            </div>

        </div>


    </div>-->

    <div class="row">
        <div class="col-md-3">
            <div class="panel-white">
                <div class="panel-body">
                    <div class="photo-user">
                        <div class="img-container">
                            <img src="{{profile.profileData.User.UserProfileImageUrl}}" on-error-src="/Content/Img/profile-thumb.svg" />

                        </div>
                    </div>
                    <div class="user-name">
                        {{profile.profileData.User.FirstName}} @*{{profile.profileData.User.LastName}}*@
                    </div>
                    <div class="rate-block separated-block">
                        <ng-rate-it ng-model="profile.profileData.Rank" read-only="true"></ng-rate-it>
                        <span class="rate-number">(<span>{{profile.profileData.ReviewCount}}</span>)</span>
                    </div>

                    <div class="cancel_block">

                        <span ng-if="profile.profileData.TotalRentals<=0">
                            No rentals yet
                        </span>

                        <span ng-if="profile.profileData.TotalRentals>0 && profile.profileData.TotalCancelledRentals<=0">
                            0% Cancellation Rate
                        </span>

                        <span ng-if="profile.profileData.TotalRentals>0 && profile.profileData.TotalCancelledRentals>0">
                            {{profile.profileData.CancelledPercentage}}% Cancellation Rate
                        </span>
                    </div>
                    <hr />
                    <div class="user-description">{{profile.profileData.User.Description}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-9 list-items">
            <div class="row">
                @* Items *@
                <div class="col-md-4 item" ng-repeat="item in profile.profileData.Listings.Items">
                    <div>
                        <a target="_blank" href="@QuickUrl.SearchItemUrl(){{'/' + item.GoodId}}">
                            <div class="img-item">
                                <div class="img-container">
                                    <img ng-src="{{item.Image || 'empty'}}" on-error-src="/Content/Img/error-bg.png" alt="">
                                </div>
                            </div>
                        </a>
                        <div class="table-wrapper">
                            <div class="table-row">
                                <div class="price">${{item.Price}}</div>
                                <div class="left-col">
                                    <div class="title-item">{{item.Name}}</div>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="hidden-rate-block">
                                    <div class="rate-block">
                                        <ng-rate-it ng-model="profile.profileData.Rank" read-only="true"></ng-rate-it>
                                    </div>
                                </div>
                                <div class="price-details">per day</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="items-none" ng-hide="profile.profileData.Listings.Items.length>0">
                    <div class="col-md-12 items-none-block">
                        <div class="icon"><i class="fa fa-meh-o"></i></div>
                        <h4>No items.</h4>
                        <p>This person hasn't listed any items.</p>
                    </div>
                </div>
            </div>
            <div class="row reviews">
                <div class="col-md-12">
                    <div class="panel-white">
                        <div ng-show="profile.profileData.SeekersReviews.Items.length>0">
                            @* Seeker *@
                            <div class="type-review title-block separated-block">
                                <div class="rate-block">
                                    <ng-rate-it ng-model="profile.profileData.RankSeekers" read-only="true"></ng-rate-it>
                                    <span class="rate-number">(<span>{{profile.profileData.SeekersCountReview}}</span>)</span>
                                </div>
                                <h2 class="type-review-seekers">
                                    Reviews from borrowers
                                </h2>
                            </div>
                            <div class="panel-body">
                                <div class="review separated-block" ng-repeat="item in profile.profileData.SeekersReviews.Items">
                                    <div class="img-user">
                                        <img ng-show="item.ReviewerImage" ng-src="{{item.ReviewerImage}}" />
                                    </div>
                                    <div class="review-body">
                                        <div class="name-rate-block">
                                            <div class="name-user pull-left">{{item.ReviewerName}}</div>
                                            <div class="rate-block pull-right">
                                                <ng-rate-it ng-model="item.Rank" read-only="true"></ng-rate-it>
                                                <span class="rate-number">(<span>{{item.Rank}}</span>)</span>
                                            </div>
                                        </div>
                                        <div class="message"><p>{{item.Message}}</p></div>
                                        @*<div class="date">{{item.Date | amCalendar}}</div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="show-more-block" ng-show="profile.showMoreSeekerReview">
                                <div class="show-more">
                                    @* display this img when is loading and hide tag a <img class="loading-img" src="/Content/Img/preload.gif" alt=""> *@
                                    <img class="loading-img" src="/Content/Img/rolling.gif" alt="" ng-show="profile.isSeekerLoading">
                                    <a ng-click="profile.loadMoreSeekerReview()" ng-hide="profile.isSeekerLoading">Show more</a>
                                </div>
                            </div>
                        </div>
                        <div ng-show="profile.profileData.SharersReviews.Items.length>0">
                            @* Sharers *@
                            <div class="type-review title-block separated-block">
                                <div class="rate-block">
                                    <ng-rate-it ng-model="profile.profileData.RankSharers" read-only="true"></ng-rate-it>
                                    <span class="rate-number">(<span>{{profile.profileData.SharersCountReview}}</span>)</span>
                                </div>
                                <h2 class="type-review-seekers">
                                    Reviews from sharers
                                </h2>
                            </div>
                            <div class="panel-body">
                                <div class="review separated-block" ng-repeat="item in profile.profileData.SharersReviews.Items">
                                    <div class="img-user">
                                        <img ng-show="item.ReviewerImage" ng-src="{{item.ReviewerImage}}" />
                                    </div>
                                    <div class="review-body">
                                        <div class="name-rate-block">
                                            <div class="name-user pull-left">{{item.ReviewerName}}</div>
                                            <div class="rate-block pull-right">
                                                <ng-rate-it ng-model="item.Rank" read-only="true"></ng-rate-it>
                                                <span class="rate-number">(<span>{{item.Rank}}</span>)</span>
                                            </div>
                                        </div>
                                        <div class="message"><p>{{item.Message}}</p></div>
                                        @*<div class="date">{{item.Date | amCalendar}}</div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="show-more-block" ng-show="profile.showModeSharerReview">
                                <div class="show-more">
                                    @* display this img when is loading and hide tag a <img class="loading-img" src="/Content/Img/preload.gif" alt=""> *@
                                    <img class="loading-img" src="/Content/Img/rolling.gif" alt="" ng-show="profile.isSharerLoading">
                                    <a ng-click="profile.loadMoreSharerReview()" ng-hide="profile.isSharerLoading">Show more</a>
                                </div>
                            </div>
                        </div>
                        <div class="items-none" ng-hide="profile.profileData.SeekersReviews.Items.length>0 || profile.profileData.SharersReviews.Items.length>0">
                            <div class="col-md-12 items-none-block">
                                <div class="icon"><i class="fa fa-comments-o"></i></div>
                                <h4>No Reviews Yet.</h4>
                                <p>This user hasn't had a review yet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Total Borrowed Items List
                    </h3>
                </div>

                <div class="card-body responsive">

                    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive" id="id_BorrowedItems">
                        <thead>
                            <tr>
                                <th>Sr.No</th>
                                <th>Product Id</th>
                                <th>Name</th>
                                <th>Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int count1 = 1; }
                            @for (int i = 0; i < Model.totalBorrowersListbyUser.Count(); i++)
                            {
                                <tr>
                                    <td>
                                        @count1
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => m.totalBorrowersListbyUser[i].Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => m.totalBorrowersListbyUser[i].ItemName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => m.totalBorrowersListbyUser[i].Count)
                                    </td>
                                </tr>
                                count1++;
                            }

                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>






    </div>
</section>
<!-- /.content -->



<style>
    /*.canvasjs-chart-canvas{
        border-radius:20px;
    }*/
    /*.top-block {
        border-radius: 0px !important;
        padding: 0px !important;
        margin-bottom: 0px !important;
    }*/

    .card-info:not(.card-outline) .card-header {
        /*background-color: #17a2b8;*/
        background-color: #48535b !important;
    }

    .dataTables_paginate.paging_simple_numbers a {
        color: #6c757d;
        pointer-events: none;
        cursor: auto;
        background-color: #fff;
        border: 1px solid #dee2e6;
        display: inline-block;
        margin: 0;
        padding: 5px 12px;
    }

    .dataTables_paginate.paging_simple_numbers span a {
        color: #fff;
        pointer-events: none;
        cursor: auto;
        background-color: #007bff;
        border: none;
        display: inline-block;
        padding: 6px 12px;
    }
</style>



<script src="~/AdminContent/Admity/js/canvasjs.min.js"></script>
<link href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
@*<script src="~/plugins/jquery/jquery.js"></script>*@
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
@*<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>*@
<script src="~/plugins/datatables/jquery.dataTables.js"></script>


<script>

    //$(document).on('click', '#becomeBorrower', function () {
    //    alert(1234)
    //});


    $(document).ready(function () {
        $('#id_sharedItems').DataTable({
            //"paging": true,
            //"lengthChange": false,
            //"searching": false,
            //"ordering": true,
            //"info": true,
            //"autoWidth": false,
        });

        $('#id_BorrowedItems').DataTable({

        });

    function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
    var userEarning = numberWithCommas('@Model.totalUserEarning');
    var userSpend = numberWithCommas('@Model.totalUserSpend');
        var finaluserEarning = '$ ' + userEarning;
        var finaluserSpend = '$ ' + userSpend;
        $("#totalEarnedID").html(finaluserEarning);
        $("#totalSpendID").html(finaluserSpend);
    });


    window.onload = function () {


        var _datatotalearnedbyMonth = [];

        var dd4=@Html.Raw(Json.Encode(totalearnedbyMonth));
        for (var k = 0; k < dd4.length; k++)
        {
            _datatotalearnedbyMonth.push({
                y: dd4[k].Total,
                label: dd4[k].Month
            });
        }
        var chartmonthWiseEarned = new CanvasJS.Chart("chartContainermonthWiseEarned", {
            animationEnabled: true,
            title: {
                text: "Total Earned In The Last 12 Months"
            },
            axisX: {
                interval: 1
            }
            ,
            //axisY: {
            //    title: "Precipitation (in inch)",
            //    suffix: " in",
            //    includeZero: false
            //},
            toolTip: {
                shared: true
            },
            data: [{
                type: "line",
                name: "Predicted",
                toolTipContent: "<b>{label}</b><br><span style=\"color:#4F81BC\">{Month}</span> {y}",
                markerType: "none",
                dataPoints: _datatotalearnedbyMonth

            }]
        });
        chartmonthWiseEarned.render();

        ///
                var _datatotalspendbyMonth = [];

        var dd5=@Html.Raw(Json.Encode(totalspendbyMonth));
        for (var k = 0; k < dd5.length; k++)
        {
            _datatotalspendbyMonth.push({
                y: dd5[k].Total,
                label: dd5[k].Month
            });
        }
        var chartmonthWiseSpend = new CanvasJS.Chart("chartContainermonthWiseSpend", {
            animationEnabled: true,
            title: {
                text: "Total Spend In The Last 12 Months"
            },
            axisX: {
                interval: 1
            }
            ,
            //axisY: {
            //    title: "Precipitation (in inch)",
            //    suffix: " in",
            //    includeZero: false
            //},
            toolTip: {
                shared: true
            },
            data: [{
                type: "line",
                name: "Predicted",
                toolTipContent: "<b>{label}</b><br><span style=\"color:#4F81BC\">{Month}</span> {y}",
                markerType: "none",
                dataPoints: _datatotalspendbyMonth

            }]
        });
        chartmonthWiseSpend.render();




               //for Loaned Items
        var _datamostloanedItemsList = [];

        var dd2=@Html.Raw(Json.Encode(mostloanedItemsList));
        for (var k = 0; k < dd2.length; k++)
        {
            _datamostloanedItemsList.push({
                y: dd2[k].Count,
                label: dd2[k].ItemName
            });
        }


        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            //theme: "light2",// "light1", "light2", "dark1", "dark2"
            title: {
                //text: "Most Shared Items"
            },

            data: [{
                type: "column",
                //showInLegend: true,
                //legendMarkerColor: "grey",

                //type: "line",
                //startAngle: 240,
                //yValueFormatString: "",
                //indexLabel: "{label}- {y}",
                dataPoints: _datamostloanedItemsList
                    //[
                    //{ y: 79.45, label: "Google" },
                    //{ y: 7.31, label: "Bing" },
                    //{ y: 7.06, label: "Baidu" },
                    //{ y: 4.91, label: "Yahoo" },
                    //{ y: 1.26, label: "Others" }
                    //]
            }]
        });
        chart.render();



              //for Loaned Items
        var _datatotalBorrowersListbyUser = [];

        var dd3=@Html.Raw(Json.Encode(totalBorrowersListbyUser));
        for (var k = 0; k < dd3.length; k++)
        {
            _datatotalBorrowersListbyUser.push({
                y: dd3[k].Count,
                label: dd3[k].ItemName
            });
        }
        if (_datatotalBorrowersListbyUser.length == 0) {
            _datatotalBorrowersListbyUser.push({
                y: 0,
                label: "No data found !"
                });

        }

        var chart2 = new CanvasJS.Chart("chartContainer2", {
            animationEnabled: true,
            title: {
                //text: "Most Borrowers List"
            },
            data: [{
                type: "pie",
                startAngle: 240,
                yValueFormatString: "",
                indexLabel: "{label} {y}",
                dataPoints: _datatotalBorrowersListbyUser
            }]
        });
        chart2.render();

    }
</script>






