@model Momentarily.ViewModels.Models.CovidGoodOrderViewModel
<style>
    #tdOrderDetail, th, td {
        border: 1px solid black;
    }
</style>
<table class="table table-bordered table-striped" id="tdOrderDetail">

    <tr class="col-md-12">
        <td>Id</td>
        <td>@Html.DisplayFor(model => model.Id)</td>
    </tr>
    <tr>
        <td>Good Id</td>
        <td>@Html.DisplayFor(model => model.CovidGoodId)</td>
    </tr>
    <tr>
        <td>Good Name</td>
        <td>@Html.DisplayFor(model => model.CovidGoodName)</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>$ @Html.DisplayFor(model => model.OrderPrice)</td>
    </tr>
    <tr>
        <td>Quantity</td>
        <td>@Html.DisplayFor(model => model.Quantity)</td>
    </tr>
    <tr>
        <td>Sales Tax(%)</td>
        <td>@Html.DisplayFor(model => model.Tax)</td>
    </tr>
    <tr>
        <td>Total Price</td>
        <td>$ @Model.TotalPrice </td>
    </tr>
    <tr>
        <td>Buyer Name</td>
        <td>@Html.DisplayFor(model => model.FullName)</td>
    </tr>
    <tr>
        <td>Buyer E-mail Address</td>
        <td>@Html.DisplayFor(model => model.BuyerEmailId)</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>@Html.DisplayFor(model => model.StatusName)</td>
    </tr>

    <tr>
        <td>Address Line 1</td>
        <td>@Html.DisplayFor(model => model.DeliveryAddress1)</td>
    </tr>
    <tr>
        <td>Address Line 2</td>
        <td>@Html.DisplayFor(model => model.DeliveryAddress2)</td>
    </tr>
    <tr>
        <td>City</td>
        <td>@Html.DisplayFor(model => model.City)</td>
    </tr>

    <tr>
        <td>State</td>
        <td>@Html.DisplayFor(model => model.State)</td>
    </tr>

    <tr>
        <td>Zip Code</td>
        <td>@Html.DisplayFor(model => model.ZipCode)</td>
    </tr>

    <tr>
        <td>Create Date</td>
        <td>@Html.DisplayFor(model => model.CreateDate)</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>@Html.DisplayFor(model => model.Description)</td>
    </tr>

</table>
<link href="~/Content/ToastMessage/toastr.css" rel="stylesheet" />
<script src="~/Content/ToastMessage/toastr.min.js"></script>

