@model Apeek.ViewModels.Models.Impl.AdminPwdModel
@{
    Layout = "~/Areas/Frontend/Views/Shared/_AdminDashboardLayoutNew.cshtml";
}
@Styles.Render("~/Content/css/Login")


@using (Html.BeginForm("AdminPwd", "AdminDashboard", FormMethod.Post, new { @id = "Admin_Pwd" }))
{



    <div class="page-header">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <div class="d-inline">
                        <h4>Change Password</h4>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title parentModulesInner">
                        <li class="breadcrumb-item">
                            <a href="/AdminDashboard/"> <i class="feather icon-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Change Password</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Password</h5>
                        
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                @*<li><i class="feather icon-maximize full-card"></i></li>*@
                                <li><i class="feather icon-minus minimize-card"></i></li>
                                @*<li><i class="feather icon-trash-2 close-card"></i></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-12">
                                <div class="col-6">
                                    <div class="alerts-msg">
                                        @if (ViewBag.successmsg != null)
                                        {
                                            <div class="alert-success">@ViewBag.successmsg</div>
                                        }
                                        @if (ViewBag.errorMsg != null)
                                        {
                                            <div class="alert-error">@ViewBag.errorMsg</div>
                                        }
                                    </div>
                                </div>


                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="exampleInputOldPassword1">Old Password</label>
                                        <div class="inputContainer">
                                            <input value="@Model.OldPassword" type="password" id="OldPassword" name="OldPassword" class="form-control" />
                                            <a class="btnShowHide" id="btnShowHide1" onclick="showHideFunctionalityInchangeOldPwd()"><i id="eyeId1" class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                        </div>
                                        @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "error-labels" })
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">New Password</label>
                                        <div class="inputContainer">
                                            <input value="@Model.NewPassword" type="password" id="NewPassword" name="NewPassword" class="form-control" />
                                            <a class="btnShowHide" id="btnShowHide2" onclick="showHideFunctionalityInchangenewPwdInAdmin()"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                        </div>
                                        @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "error-labels" })
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Confirm New Password</label>
                                        <div class="inputContainer">
                                            <input value="@Model.ConfirmPassword" type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" />
                                            <a class="btnShowHide" id="btnShowHide3" onclick="showHideFunctionalityInchangeconfirmPwdInAdmin()"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                        </div>
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "error-labels" })
                                    </div>

                                </div>
                                <div class="col-6">
                                    <button type="submit" style="background-color:#cf2d1e; border-color: #fff;" class="btn btn-primary">Update Password</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




}

<style>
    label {
        color: #9f9f9f;
        line-height: 20px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        white-space: nowrap;
    }

    .error-labels {
        color: #A63232;
        /* color: #f00; */
        font-size: 14px;
    }

    .inputContainer {
        position: relative;
    }
    /*.form-group .right-align, .form-group .left-align {
            line-height: 14px;
            font-size: 11px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            text-align: right;
            color: #9b9b9b;
            margin-top: 4px;

        }*/
</style>

@Scripts.Render("~/Scripts/Account")
@Scripts.Render("~/Scripts/Libs/jquery")




<script>


    $(document).ready(function () {
        $(".alerts-msg").fadeOut(50000);
    });

        //function showHideFunctionalityInReset1() {
        //    var x = document.getElementById("ViewModel_NewPassword");
        //    var y = document.getElementById("btnShowHide1");
        //    if (x.type === "password") {
        //        x.type = "text";
        //        y.innerText = "HIDE";
        //    } else {
        //        x.type = "password";
        //        y.innerText = "SHOW";
        //    }
        //}


        //function showHideFunctionalityInReset2() {
        //    var x = document.getElementById("ViewModel_ConfirmPassword");
        //    var y = document.getElementById("btnShowHide2");
        //    if (x.type === "password") {
        //        x.type = "text";
        //        y.innerText = "HIDE";
        //    } else {
        //        x.type = "password";
        //        y.innerText = "SHOW";
        //    }
        //}

</script>