@model IEnumerable<Momentarily.ViewModels.Models.CovidGoodOrderViewModel>
@{
    Layout = "~/Areas/Frontend/Views/Shared/_AdminDashboardLayoutNew.cshtml";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Covid-19 Orders</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="/AdminDashboard/"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Covid-19</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Covid-19 Orders</h5>

                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            @*<li><i class="feather icon-maximize full-card"></i></li>*@
                            <li><i class="feather icon-minus minimize-card"></i></li>
                            @*<li><i class="feather icon-trash-2 close-card"></i></li>*@
                        </ul>
                    </div>
                </div>
                <div class="card-block">
                    <div class="dashBoardTable">
                        <div class="table-responsive">
                            <table id="itemslist" class="table table-bordered table-striped itemstable">
                                <thead>
                                    <tr>
                                        <th>Order Id</th>
                                        <th>Good Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Sales Tax(%)</th>
                                        <th>Total</th>
                                        <th>Buyer Name</th>
                                        <th>Buyer E-mail Id</th>
                                        <th>Status Name</th>
                                        <th>Create Date</th>
                                        <th>Close Order</th>
                                        <th>View Detail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td> @item.CovidGoodName</td>
                                            <td>$ @item.OrderPrice.ToString("F2")</td>
                                            <td>@item.Quantity</td>
                                            <td>@item.Tax</td>
                                            <td>$ @item.TotalPrice.ToString("F2")</td>
                                            <td>@item.FullName</td>
                                            <td>@item.BuyerEmailId</td>
                                            <td>@item.StatusName</td>
                                            <td>@item.CreateDate</td>
                                            <td style="text-align:center">
                                                <a title="Close This Order" onclick="UpdateOrder(@item.Id)" name="@item.Id"> <i class="fa fa-check" style="color:#3b7b00"></i></a>
                                                &nbsp;
                                            </td>
                                            <td style="text-align:center">

                                                <a title="View Detail" onclick="getOrderDetail(@item.Id)">
                                                    <i class="fa fa-align-justify"
                                                       style="color:#369ead;cursor:pointer;"></i>
                                                </a>
                                            </td>

                                        </tr>
                                    }

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="OrderDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title text-center" style="margin: auto;">Order Detail</h5>
                <button type="button" style="float:right" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body" id="Orderdetail">

            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>
<link href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script src="~/plugins/jquery/jquery.js"></script>
<script src="~/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<link href="~/Content/ToastMessage/toastr.css" rel="stylesheet" />
<script src="~/Content/ToastMessage/toastr.min.js"></script>
<script>
    $(document).ready(function () {
        $('#itemslist').DataTable({
            //"paging": true,
            //"lengthChange": false,
            //"searching": false,
            //"ordering": true,
            //"info": true,
            //"autoWidth": false,
            "order": [0, "desc"]
        });
    });

    function getOrderDetail(Id) {
        $.ajax({
            type: "Get",
            url: "/AdminDashboard/OrderDetail",
            data: { id: Id },
            success: function (response) {
                $('#Orderdetail').html(response);

                $('#OrderDetailModal').modal();
            },
            failure: function (response) {
                toast.error(response.responseText);
            },
            error: function (response) {
                toast.error(response.responseText);
            }
        });
    }

    function UpdateOrder(Id) {
        $.ajax({
            type: "Get",
            url: "/AdminDashboard/UpdateOrder",
            data: { id: Id },
            success: function (response) {
                if (response == 'true' || response == "True") {
                    alert("Order Closed");
                    window.location.href = "/AdminDashboard/AllCovidOrders";
                }
                else {
                    alert("Something Went Wrong!");
                }
            },
            failure: function (response) {
                alert("Failed!");
            },
            error: function (response) {
                alert("Error!");
            }
        });
    }

</script>
