@model Apeek.ViewModels.Models.Impl.MostRentedItems

@{
    //Layout = "~/Areas/Frontend/Views/Shared/_AdminDashboardLayout.cshtml";
    Layout = "~/Areas/Frontend/Views/Shared/_AdminDashboardLayoutNew.cshtml";
    var data = TempData["newItemsList"] as List<Momentarily.Entities.Entities.MomentarilyItem>;
    var datamostRentedItems = Model.mostRentedItems.ToList();
    //var modelData = Html.Raw(Json.Encode(datamostRentedItems));
    var datacategoryRanking = Model.topRankingofCategory.ToList();


}
<style>
    .user-card2 .risk-rate span b {
        font-size: 8px !important;
    }

</style>
<link href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
@*<div class="page-wrapper">*@
<div class="page-body">
    <div class="row">

        <div class="col-xl-3 col-md-6">
            <div class="card bg-c-yellow update-card">
                <div class="card-block">
                    <div class="row align-items-end">
                        <div class="col-8">
                            <h4 class="text-white">@ViewBag.usercount</h4>
                            <h6 class="text-white m-b-0">momentarily User</h6>
                            <h6 class="text-white m-b-0 disabled" style="visibility:hidden">Blank</h6>
                        </div>
                        <div class="col-4 text-right">
                            <canvas id="update-chart-1" height="50"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/AdminDashboard/Users?status=All" class="small-box-footer parentModulesInnerIndex">
                        <p class="text-white m-b-0">
                            More info
                            <i class="feather icon-arrow-right text-white f-14 m-r-10"></i>
                        </p>
                    </a>
                </div>
            </div>
        </div>
       
        <div class="col-xl-3 col-md-6">
            <div class="card bg-c-pink update-card">
                <div class="card-block">
                    <div class="row align-items-end">
                        <div class="col-8">
                            <h4 class="text-white">@ViewBag.totalBorrowersCount</h4>
                            <h6 class="text-white m-b-0">Total Borrowers</h6>
                            <h6 class="text-white m-b-0 disabled" style="visibility:hidden">Blank</h6>
                        </div>
                        <div class="col-4 text-right">
                            <canvas id="update-chart-2" height="50"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/AdminDashboard/TotalBorrowersList" class="small-box-footer parentModulesInnerIndex">
                        <p class="text-white m-b-0">
                            More info
                            <i class="feather icon-arrow-right text-white f-14 m-r-10"></i>
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-c-lite-green update-card">
                <div class="card-block">
                    <div class="row align-items-end">
                        <div class="col-8">
                            <h4 class="text-white">@ViewBag.totallenderCount</h4>
                            <h6 class="text-white m-b-0">Total Sharers</h6>
                            <h6 class="text-white m-b-0 disabled" style="visibility:hidden">Blank</h6>
                        </div>
                        <div class="col-4 text-right">
                            <canvas id="update-chart-3" height="50"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/AdminDashboard/TotalLendersList" class="small-box-footer parentModulesInnerIndex">
                        <p class="text-white m-b-0">
                            More info
                            <i class="feather icon-arrow-right text-white f-14 m-r-10"></i>
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-c-lite-green update-card">
                <div class="card-block">
                    <div class="row align-items-end">
                        <div class="col-8">
                            <h4 class="text-white" id="idAdminTotalEarned">@*$ @ViewBag.totalEarning*@</h4>
                            <h6 class="text-white m-b-0">Total Earning</h6>
                            <h6 class="text-white m-b-0 disabled" style="visibility:hidden">Blank</h6>
                        </div>
                        <div class="col-4 text-right">
                            <canvas id="update-chart-4" height="50"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="small-box-footer">
                        <p class="text-white m-b-0" style="visibility: hidden;">
                            More info
                            <i class="feather icon-arrow-right text-white f-14 m-r-10"></i>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-xl-3 col-md-6">
            <div class="card bg-c-green update-card">
                <div class="card-block">
                    <div class="row align-items-end">
                        <div class="col-8">
                            <h4 class="text-white">@ViewBag.totalSubscribersCount</h4>
                            <h6 class="text-white m-b-0">Total Subscriber</h6>
                            <h6 class="text-white m-b-0 disabled" style="visibility:hidden">Blank</h6>
                        </div>
                        <div class="col-4 text-right">
                            <canvas id="update-chart-5" height="50"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/AdminDashboard/Subscribers?status=All" class="small-box-footer parentModulesInnerIndex">
                            <p class="text-white m-b-0">
                                More info
                                <i class="feather icon-arrow-right text-white f-14 m-r-10"></i>
                            </p>
                        </a>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card bg-c-yellow update-card">
                <div class="card-block">
                    <div class="row align-items-end">
                        <div class="col-8">
                            <h4 class="text-white">@ViewBag.todaySubscribersCount</h4>
                            <h6 class="text-white m-b-0">Subscribed Today</h6>
                            <h6 class="text-white m-b-0 disabled" style="visibility:hidden">Blank</h6>
                        </div>
                        <div class="col-4 text-right">
                            <canvas id="update-chart-6" height="50"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/AdminDashboard/Subscribers?status=Daily" class="small-box-footer parentModulesInnerIndex">
                        <p class="text-white m-b-0">
                            More info
                            <i class="feather icon-arrow-right text-white f-14 m-r-10"></i>
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-c-pink update-card">
                <div class="card-block">
                    <div class="row align-items-end">
                        <div class="col-8">
                            <h4 class="text-white">@ViewBag.totalSignUpCount</h4>
                            <h6 class="text-white m-b-0">Sign Up Today</h6>
                            <h6 class="text-white m-b-0 disabled" style="visibility:hidden">Blank</h6>
                        </div>
                        <div class="col-4 text-right">
                            <canvas id="update-chart-7" height="50"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/AdminDashboard/Users?status=Daily" class="small-box-footer parentModulesInnerIndex">
                        <p class="text-white m-b-0">
                            More info
                            <i class="feather icon-arrow-right text-white f-14 m-r-10"></i>
                        </p>
                    </a>
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-xl-3 col-md-12">
            <div class="card user-card2">
                <div class="card-block text-center">
                    <h6 class="m-b-15">New Borrowers</h6>
                    <div class="risk-rate">
                        <span><b>@ViewBag.newBorrowersCount</b></span>
                    </div>
                    <h6 class="m-b-10 m-t-10">(Last 15days)</h6>
                    <a href="/AdminDashboard/NewBorrowersList" class="text-c-yellow b-b-warning parentModulesInnerIndex">More Info</a>
                    <div class="row justify-content-center m-t-10 b-t-default m-l-0 m-r-0">
                        <div class="col m-t-15">
                            <h6 class="text-muted">@ViewBag.newBorrowersCount</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-xl-3 col-md-12">
            <div class="card user-card2">
                <div class="card-block text-center">
                    <h6 class="m-b-15">New Sharers</h6>
                    <div class="risk-rate">
                        <span><b>@ViewBag.newlendersCount</b></span>
                    </div>
                    <h6 class="m-b-10 m-t-10">
                        (Last 15days)
                    </h6>
                    <a href="/AdminDashboard/NewLendersList" class="text-c-yellow b-b-warning parentModulesInnerIndex">More Info</a>
                    <div class="row justify-content-center m-t-10 b-t-default m-l-0 m-r-0">
                        <div class="col m-t-15">
                            <h6 class="text-muted">@ViewBag.newlendersCount</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-xl-3 col-md-12">
            <div class="card user-card2">
                <div class="card-block text-center">
                    <h6 class="m-b-15">Available items</h6>
                    <div class="risk-rate">
                        <span> <b>@ViewBag.availableitemsCount</b></span>
                    </div>
                    <h6 class="m-b-10 m-t-10">All</h6>
                    <a href="/AdminDashboard/Items" class="text-c-yellow b-b-warning parentModulesInnerIndex">More Info</a>
                    <div class="row justify-content-center m-t-10 b-t-default m-l-0 m-r-0">
                        <div class="col m-t-15 ">
                            <h6 class="text-muted">@ViewBag.availableitemsCount</h6>

                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="col-xl-3 col-md-12">
            <div class="card user-card2">
                <div class="card-block text-center">
                    <h6 class="m-b-15">Total Listed Item</h6>
                    <div class="risk-rate">
                        <span><b>@ViewBag.newtotalitemsCount</b></span>
                    </div>
                    <h6 class="m-b-10 m-t-10">All</h6>
                    <a href="/AdminDashboard/TotalListedItem" class="text-c-yellow b-b-warning smooth-goto parentModulesInnerIndex">More Info</a>
                    <div class="row justify-content-center m-t-10 b-t-default m-l-0 m-r-0">
                        <div class="col m-t-15">
                            <h6 class="text-muted">@ViewBag.newtotalitemsCount</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>

    <div class="row">
        <div class="col-xl-6 col-md-12">
            <div class="card">
                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            </div>
        </div>

        <div class="col-xl-6 col-md-12">
            <div class="card">
                <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xl-6 col-md-12">
            <div class="card">
                <div id="chartContainerTopFivemostRented" style="height: 300px; width: 100%;"></div>
            </div>
        </div>

        <div class="col-xl-6 col-md-12">
            <div class="card">
                <div id="chartContainerCategoryRankingWiseItems" style="height: 300px; width: 100%;"></div>
            </div>
        </div>

    </div>


   

    <div class="row">
        <div class="col-xl-12 col-md-12" id="idRentedItemsScroll">
            <div class="card table-card">
                <div class="card-header">
                    <h5>Total Shared Items</h5>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="feather icon-minus minimize-card"></i></li>
                            <li><i class=" feather icon-maximize full-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="idloanedItems" class="table table-hover table-borderless">
                                <thead>
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Product Id</th>
                                        <th>Name</th>
                                        <th>Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int count3 = 1; }
                                    @for (int i = 0; i < Model.totalLoanedItems.Count(); i++)
                                    {
                                    <tr>
                                        <td>
                                            @count3
                                        </td>
                                        <td>
                                            <a href="/Search/Item/@Model.totalLoanedItems[i].Id" target="_blank" title="@Model.totalLoanedItems[i].ItemName">@Model.totalLoanedItems[i].Id</a>
                                        </td>
                                        <td>
                                            <a href="/Search/Item/@Model.totalLoanedItems[i].Id" target="_blank" title="@Model.totalLoanedItems[i].ItemName">@Model.totalLoanedItems[i].ItemName</a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => m.totalLoanedItems[i].Count)
                                        </td>
                                    </tr>
                                        count3++;
                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

  

</div>
@*</div>*@
<script src="~/AdminContent/Admity/js/canvasjs.min.js"></script>
@*<script src="~/plugins/jquery/jquery.js"></script>*@
<script src="~/plugins/jquery/jquery.js"></script>

<script>
    var countBorrowersAndLenders =  @ViewBag.totalBorrowersCount+@ViewBag.totallenderCount;
    $(document).ready(function () {

        $('#itemslist').DataTable({

        });
        $('#idloanedItems').DataTable({

        });
        $('.smooth-goto').on('click', function () {
            $('html, body').animate({ scrollTop: $(this.hash).offset().top - 40 }, 1000);
            return false;
        });

        function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
        var totalEarning = numberWithCommas(@ViewBag.totalEarning);
        var finaltotalEarning = '$ ' + parseFloat(totalEarning).toFixed(2);
        $("#idAdminTotalEarned").html(finaltotalEarning);



        //////////////////////
        @*$("#subscriberAll").on("click",function(){
            debugger
          location.href='@Url.Action("Subscribers", "AdminDashboard", new { status = "All" })';
        });*@



    });

    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Total Borrowers & Sharers "
            },
            axisY: {
                title: " "
            },
            data: [{
                type: "column",
                showInLegend: true,
                legendMarkerColor: "grey",
                legendText: "Total ",
                dataPoints: [
                    { y: @ViewBag.totalBorrowersCount, label: "Borrowers" },
                    { y: @ViewBag.totallenderCount, label: "Sharers" },
                ]
            }]
        });
        chart.render();




            var chart2 = new CanvasJS.Chart("chartContainer2", {
            animationEnabled: true,
            title: {
                text: "New Borrowers & Sharers(Last 15 Days)"
            },
            axisY: {
                title: " "
            },
            data: [{
                type: "column",
                showInLegend: true,
                legendMarkerColor: "grey",
                legendText: "Total",
                dataPoints: [
                    { y: @ViewBag.newBorrowersCount, label: "New Borrowers" },
                    { y: @ViewBag.newlendersCount, label: "New Sharers" },
                ]
            }]
        });
        chart2.render();


        var _dataTopFivemostRented = [];

        var dd=@Html.Raw(Json.Encode(datamostRentedItems));
        for (var k = 0; k < dd.length; k++)
        {
            _dataTopFivemostRented.push({
                y: dd[k].Count,
                label: dd[k].ItemName
            });
        }

        var chartTopFivemostRented = new CanvasJS.Chart("chartContainerTopFivemostRented", {
            animationEnabled: true,
            title: {
                text: "Top Five Rented Items"
            },
            data: [{
                type: "pie",
                startAngle: 240,
                yValueFormatString: "",
                indexLabel: "{label} {y}",
                dataPoints: _dataTopFivemostRented
            }]
        });
        chartTopFivemostRented.render();

        //for Ranking category
        var _datachartCategoryRankingWiseItems = [];

        var dd2=@Html.Raw(Json.Encode(datacategoryRanking));
        for (var k = 0; k < dd2.length; k++)
        {
            _datachartCategoryRankingWiseItems.push({
                y: dd2[k].Count,
                label: dd2[k].CategoryName
            });
        }

        var chartCategoryRankingWiseItems = new CanvasJS.Chart("chartContainerCategoryRankingWiseItems", {
            animationEnabled: true,
            title: {
                text: "Ranking of Categories"
            },
            data: [{
                type: "pie",
                startAngle: 240,
                yValueFormatString: "",
                indexLabel: "{label} {y}",
                dataPoints: _datachartCategoryRankingWiseItems
            }]
        });
        chartCategoryRankingWiseItems.render();


    }
</script>


