@model  IEnumerable<Momentarily.ViewModels.Models.ResolvedDisputeViewModel>

@{
    Layout = "~/Areas/Frontend/Views/Shared/_AdminDashboardLayoutNew.cshtml";
}



<div class="page-header non-printable">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Resolved Disputes</h4>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title parentModulesInner">
                    <li class="breadcrumb-item">
                        <a href="/AdminDashboard/"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="">Resolved Disputes</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-block">
                    <!--hr class="row"-->
                    <div id="iduserCoupons">
                        <div class="card-block">
                            <div class="row">
                                <div class="table-responsive">
                                    <table id="resolvedDisputes" class="table table-bordered table-striped itemscoupons">
                                        <thead>
                                            <tr>
                                                <th>Request Id</th>
                                                <th>Dispute Id</th>
                                                <th>Total Paid Amount</th>
                                                <th>Borrower Share</th>
                                                <th>Owner Share</th>
                                                <th>Momentarily Share</th>
                                                <th>Amount Limit To Pay</th>
                                                <th>Final Rental Reason</th>
                                                <th>Description</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model)
                                            {
                                            <tr>
                                                <td>
                                                    <b>@item.RequestId</b>
                                                </td>
                                                <td>
                                                    <b>@item.DisputeId</b>
                                                </td>
                                                <td>
                                                    <b>@item.TotalPaidAmount</b>
                                                </td>
                                                <td>
                                                    <b>@item.BorrowerShare</b>
                                                </td>
                                                <td>
                                                    <b>@item.OwnerShare</b>
                                                </td>

                                                <td>
                                                    <b>@item.MomentarilyShare</b>
                                                </td>
                                                <td>
                                                    <b>@item.AmountLimitToPay</b>
                                                </td>
                                                <td>
                                                    <b>@item.FinalRentalReason</b>
                                                </td>
                                                <td>
                                                    <b>@item.Description</b>
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="divLoading">
    <p>
        Loading. Please wait...<br />
        <span>
            <img src="~/Content/Images/circleloadinganimationOrignal.gif" alt="image" />
        </span>
    </p>

</div>

<div class="modal fade" id="DisputeDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title text-center" style="margin: auto;">Dispute Detail</h5>
                <button type="button" style="float:right" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body" id="disputedetail">

            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>


<link href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Content/ToastMessage/toastr.css" rel="stylesheet" />
@*<script src="//code.jquery.com/jquery-1.10.2.js"></script>*@
<script src="~/plugins/jquery/jquery.js"></script>
<script src="~/Content/ToastMessage/toastr.min.js"></script>




<script>

    $(document).ready(function () {
        
        $('#resolvedDisputes').DataTable({

        });

       
    });
  
</script>
<style>
    #divLoading {
        margin: 0px;
        padding: 0px;
        position: fixed;
        right: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: #666666;
        z-index: 30001;
        opacity: .8;
        filter: alpha(opacity=70);
        display: none
    }

        #divLoading p {
            position: fixed;
            top: 30%;
            left: 45%;
            color: White;
        }

        #divLoading span > img {
            padding-left: 44px;
        }
</style>




