@model Momentarily.ViewModels.Models.StockDetailViewModel
@{
    Layout = "~/Areas/Frontend/Views/Shared/_AdminDashboardLayoutNew.cshtml";
}


@using (Html.BeginForm("StockDetail", "AdminDashboard", FormMethod.Post, new { @id = "Admin_StockDetail" }))
{
    <div class="page-header non-printable">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <div class="d-inline">
                        <h4>Stock Detail</h4>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="/AdminDashboard/"> <i class="feather icon-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Stock Detail</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-block">
                        <div class="row non-printable">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputOldPassword1">Select Item</label>
                                    <div class="inputContainer">
                                        @Html.DropDownListFor(model => model.CovidGoodId, new SelectList(ViewBag.covidgoods, "CovidGoodId", "GoodName"), "Select Item", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputOldPassword1">Enter Quantity</label>
                                    <div class="inputContainer">
                                        @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control", autocomplete = "off" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInput">Description(Optional)</label>
                                    <div class="inputContainer">

                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputOldPassword1" style="visibility:hidden">Blank</label>
                                    <div class="inputContainer text-right">
                                        <input type="button" id="btnSubmit" style="background-color:#cf2d1e; border-color: #fff;" value="Save" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>

                        </div>


                        <hr class="row">
                        <div class="card-block">
                            <div class="row">
                                <div class="table-responsive">
                                    <table id="stockDetail" class="table table-bordered table-striped itemstable">
                                        <thead>
                                            <tr>
                                                <th>Stock Id</th>
                                                <th>Good Name</th>
                                                <th>Quantity</th>
                                                <th>Description</th>
                                                <th>Created On</th>
                                                <th>Update</th>
                                                @*<th>Delete</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.stockDetails)
                                            {
                                                <tr id="@("row"+item.Id)">
                                                    <td>@item.Id</td>
                                                    <td> @item.CovidGoodName</td>
                                                    <td>@item.Quantity</td>
                                                    <td>@item.Description</td>
                                                    <td>@item.CreateDate.ToString("MM-dd-yyyy")</td>
                                                    @foreach (var itemMaster in Model.stockmasterAllDetails)
                                                    {
                                                        if (item.CovidGoodId == itemMaster.CovidGoodId)
                                                        {
                                                            if (itemMaster.QuantityLeft <= 0)
                                                            {
                                                                <td style="text-align:center;">
                                                                    <i value="Update" type="button" alt="Update" title="Update Stock Detail"
                                                                       style="font-size:15px;color:#cf2d1e;cursor:pointer;" class="fa fa-pencil-alt" onclick="CanNotUpdateStockDetail()"></i>
                                                                </td>
                                                                break;
                                                            }
                                                            else
                                                            {
                                                                <td style="text-align:center;">
                                                                    <i value="Update" type="button" alt="Update" title="Update Stock Detail"
                                                                       style="font-size:15px;color:blue;cursor:pointer;" class="fa fa-pencil-alt" onclick="UpdateStockDetail(@item.Id,@itemMaster.QuantityLeft)"></i>
                                                                </td>
                                                                break;
                                                            }

                                                        }


                                                    }
                                                    @*<td style="text-align:center;">
                                                            <i value="Delete" type="button" alt="Delete" title="Delete Stock Detail"
                                                               style="font-size:15px;color:#cf2d1e;cursor:pointer;" class="fa fa-trash" onclick="DeleteStockDetail(@item.Id)"></i>
                                                        </td>*@
                                                </tr>
                                            }

                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}

<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;  opacity: .8; filter: alpha(opacity=70);display:none">

    <p style="position: fixed; top: 30%; left: 45%; color: White;">
        Loading. Please wait...<br />
        <span>
            <img src="~/Content/Images/circleloadinganimationOrignal.gif" style="padding-left: 44px;">
        </span>
    </p>

</div>
<link href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
@*<script src="//code.jquery.com/jquery-1.10.2.js"></script>*@
<script src="~/plugins/jquery/jquery.js"></script>
<script src="~/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<link href="~/Content/ToastMessage/toastr.css" rel="stylesheet" />
<script src="~/Content/ToastMessage/toastr.min.js"></script>
<script>
    $(document).ready(function () {
        $('#stockDetail').DataTable();
        if ("@TempData["isupdated"]" == "true" || "@TempData["isupdated"]" == "True") {
            toastr.info("Stock Detail Updated");
        }

    });

    function UpdateStockDetail(id, quantityLeft) {
        debugger
        window.location.href = "/AdminDashboard/UpdateStockDetail?StockId=" + id + "&QuantityLeft=" + quantityLeft;
    }
    function CanNotUpdateStockDetail() {
        alert("Zero quantity left, Can not update this stock detail");
    }

    $('#btnSubmit').click(function () {

        var CovidGoodId = $('#CovidGoodId').val();
        var Quantity = $('#Quantity').val();
        if (CovidGoodId == "") {
            alert("Please Select Item");
            return false;
        }
        if (Quantity == "" || Quantity == "0") {
            alert("Please Add Quantity");
            
            return false;
        }
        if (Quantity < 0) {
            alert("Quantity must be greater than 0.");
            return false;
        }
        $('#Admin_StockDetail').submit();

    })

    function DeleteStockDetail(id) {

        var userConfirms = confirm("Are You sure You want to delete this record?");
        if (userConfirms) {
            $('#divLoading').show();
            $.ajax({
                url: "/AdminDashboard/DeleteStockDetail",
                type: "Get",
                data: { StockId: id },
                success: function (data) {

                    if (data == "true" || data == "True") {
                        $('#row' + id).css("display", "none");
                        toastr.warning('Deleted successfully.')
                        $('#divLoading').hide();
                    }
                    else {
                        toastr.error('Something went wrong !')
                        $('#divLoading').hide();

                    }
                },
                error: function () {
                    alert("Error")
                    $('#divLoading').hide();

                }
            })
        }
        else {

        }
    }
</script>
