@model IEnumerable<Momentarily.Entities.Entities.MomentarilyItem>
@{
    /**/

    Layout = "~/Areas/Frontend/Views/Shared/_AdminDashboardLayoutNew.cshtml";
    var dt = Model;
}
@using (Html.BeginForm("TotalListedItem", "AdminDashboard", FormMethod.Post, new { @class = "totallistedItems_Id" }))
{
    <div class="page-header">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <div class="d-inline">
                        <h4>Total Listed Items</h4>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title parentModulesInner">
                        <li class="breadcrumb-item">
                            <a href="/AdminDashboard/"> <i class="feather icon-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Total Listed Items</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Listed Items</h5>

                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                @*<li><i class="feather icon-maximize full-card"></i></li>*@
                                <li><i class="feather icon-minus minimize-card"></i></li>
                                @*<li><i class="feather icon-trash-2 close-card"></i></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="dashBoardTable">
                            <div class="table-responsive">
                                <table id="totallistedItems" class="table table-hover table-borderless">
                                    <thead>
                                        <tr>
                                            @*<th>Sr.No</th>*@
                                            <th>Image</th>
                                            <th>Product Id</th>
                                            <th>Name</th>
                                            <th>Owner Name</th>
                                            <th>Price Per Day</th>
                                            <th>Price Per Week</th>
                                            <th>Created Date</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int count1 = 1; }
                                        @foreach (var item in Model)
                                        {

                                        <tr id="@("row"+item.Id)">
                                            <td>
                                                @if (@item.GoodImageslist != null && item.GoodImageslist.Count > 0)
                                                {
                                                    <a href="/Search/Item/@item.Id" target="_blank" title="@item.Name">

                                                        <img alt="Image not found" onerror="this.src='/Content/Images/Good/noimgavailable.jpg';" class="goodimage" src="~/Content/Images/Good/@item.GoodImageslist[0].FileName" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="/Search/Item/@item.Id" target="_blank" title="@item.Name">
                                                        <img alt="img not found" class="goodimage" src="~/Content/Images/Good/noimgavailable.jpg" />
                                                    </a>

                                                }
                                            </td>

                                            <td>
                                                <a href="/Search/Item/@item.Id" target="_blank" title="@item.Name">@item.Id</a>
                                            </td>
                                            <td>
                                                <a href="/Search/Item/@item.Id" target="_blank" title="@item.Name">@item.Name</a>
                                            </td>
                                            <td>
                                                @if (item.GoodOwner != null && item.GoodOwner.Id > 0)
                                                {
                                                    <a href="/User/UserPublicProfile/@item.GoodOwner.Id" target="_blank" title="@item.GoodOwner.FirstName">@item.GoodOwner.FullName</a>
                                                }
                                                else
                                                {
                                                    <a href="#">Unknown</a>
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => item.Price)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => item.PricePerWeek)
                                            </td>
                                            <td>
                                                @item.CreateDate.ToString("MM-dd-yyyy")
                                            </td>
                                        </tr>
                                            count1++;
                                        }

                                    </tbody>

                                </table> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<link href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script src="~/plugins/jquery/jquery.js"></script>
<script src="~/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>

<style>
    .goodimage {
        height: 60px;
        width: 60px;
    }

    .table {
        table-layout: fixed;
        border-collapse: collapse;
        background: #fff;
    }

        .table td {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

    .table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        .table td, .table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .table tr:hover {
            background-color: #ddd;
        }

        .table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            /*background-color: #4CAF50;*/
            color: #616570;
        }
</style>

<script>
    $(document).ready(function () {
        $('#totallistedItems').DataTable({
            //"paging": true,
            //"lengthChange": false,
            //"searching": false,
            //"ordering": true,
            //"info": true,
            //"autoWidth": false,
        });
    });



</script>
