@model  Momentarily.ViewModels.Models.BookingRankViewModal

@{
    Layout = "~/Areas/Frontend/Views/Shared/_AdminDashboardLayoutNew.cshtml";
}



<div class="page-header non-printable">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>User Reviews</h4>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="/AdminDashboard/"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="">User Reviews</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-block">
                    <h5>Seeker Reviews</h5>

                    <hr class="row">

                    <div class="card-block">
                        <div class="row">
                            <div class="table-responsive">
                                <table id="tb_seekerreview" class="table table-bordered table-striped itemscoupons">
                                    <thead>
                                        <tr>
                                            <th>Good Name</th>
                                            <th>Sharer Name</th>
                                            <th>Seeker Name</th>
                                            <th>Reviewer Name</th>
                                            <th>Rank</th>
                                            <th>Message</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.RankFromSeekers)
                                        {
                                        <tr>
                                            <td>
                                                <a href=@Url.Action("Item", "Search", new {id = item.GoodId})
                                                   class="btn btn-green-reverse">@item.GoodName</a>
                                            </td>

                                            <td>
                                                <a href=@Url.Action("UserPublicProfile", "User", new {id = item.SharerId})
                                                   class="btn btn-green-reverse">@item.SharerName</a>
                                            </td>

                                            <td>
                                                <a href=@Url.Action("UserPublicProfile", "User", new {id = item.SeekerId})
                                                   class="btn btn-green-reverse">@item.SeekerName</a>
                                            </td>

                                            <td>
                                                <a href=@Url.Action("UserPublicProfile", "User", new {id = item.ReviewerId})
                                                   class="btn btn-green-reverse">@item.ReviewerName</a>
                                            </td>
                                            <td>@item.Rank</td>
                                            <td>@item.Message</td>
                                            <td style="text-align:center;">
                                                <i value="Delete" type="button" alt="Delete" title="Delete Review" style="font-size:15px;color:#cf2d1e;cursor:pointer;" class="fa fa-trash" onclick="location.href='@Url.Action("UpdateGoodBookingRank", "AdminDashboard", new { id = item.Id,UserId = item.UserId })'"></i>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-block">
                    <h5>Sharer Reviews</h5>
                    <hr class="row">

                    <div class="card-block">
                        <div class="row">
                            <div class="table-responsive">
                                <table id="tb_sharerreview" class="table table-bordered table-striped itemscoupons">
                                    <thead>
                                        <tr>
                                            <th>Good Name</th>
                                            <th>Sharer Name</th>
                                            <th>Seeker Name</th>
                                            <th>Reviewer Name</th>
                                            <th>Rank</th>
                                            <th>Message</th>
                                            <th>Delete</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.RankFromSharers)
                                        {
                                        <tr>
                                            <td>
                                                <a href=@Url.Action("Item", "Search", new {id = item.GoodId})
                                                   class="btn btn-green-reverse">@item.GoodName</a>
                                            </td>

                                            <td>
                                                <a href=@Url.Action("UserPublicProfile", "User", new {id = item.SharerId})
                                                   class="btn btn-green-reverse">@item.SharerName</a>
                                            </td>

                                            <td>
                                                <a href=@Url.Action("UserPublicProfile", "User", new {id = item.SeekerId})
                                                   class="btn btn-green-reverse">@item.SeekerName</a>
                                            </td>

                                            <td>
                                                <a href=@Url.Action("UserPublicProfile", "User", new {id = item.ReviewerId})
                                                   class="btn btn-green-reverse">@item.ReviewerName</a>
                                            </td>
                                            <td>@item.Rank</td>
                                            <td>@item.Message</td>
                                            <td style="text-align:center;">
                                                <i value="Delete" type="button" alt="Delete" title="Delete Review" style="font-size:15px;color:#cf2d1e;cursor:pointer;" class="fa fa-trash" onclick="location.href='@Url.Action("UpdateGoodBookingRank", "AdminDashboard", new { id = item.Id ,UserId = item.UserId})'"></i>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;  opacity: .8; filter: alpha(opacity=70);display:none">

    <p style="position: fixed; top: 30%; left: 45%; color: White;">
        Loading. Please wait...<br />
        <span>
            <img src="~/Content/Images/circleloadinganimationOrignal.gif" style="padding-left: 44px;">
        </span>
    </p>

</div>




<link href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Content/ToastMessage/toastr.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="~/Content/ToastMessage/toastr.min.js"></script>



<script>

    $(document).ready(function () {

        $('#tb_sharerreview').DataTable({

        });
        $('#tb_seekerreview').DataTable({

        });
    });
    function DeleteReview(id) {

        var userConfirms = confirm("Are You sure You want to delete this Review?");
        if (userConfirms) {
            $.ajax({
                url: "/AdminDashboard/DeleteUserReview",
                type: "Get",
                data: { userId: id },
                success: function (data) {
                    if (data == "true" || data == "True") {
                        $('#row' + id).css("display", "none");
                        toastr.warning('Review deleted successfully.')
                    }
                    else {
                        toastr.error('Something went wrong !')
                    }
                },
                error: function () {
                    alert("Error")
                }
            })
        }
        else {

        }
    }
    //function getDetail(Id) {
    //    $.ajax({
    //        type: "Get",
    //        url: "/AdminDashboard/Detail",
    //        data: { id: Id },
    //        success: function (response) {
    //            $('#disputedetail').html(response);

    //            $('#DisputeDetailModal').modal();
    //        },
    //        failure: function (response) {
    //            toast.error(response.responseText);
    //        },
    //        error: function (response) {
    //            toast.error(response.responseText);
    //        }
    //    });
    //}

</script>




