@model Apeek.Common.IShape<Apeek.ViewModels.Models.GoodRequestViewModel>

@{
    ViewBag.Title = "Decline Booking";
    Layout = "~/Areas/Frontend/Views/Shared/_AccountMenuLayout.cshtml";
}

<div class="content" ng-controller="BookingDeclineRequestController as request" ng-cloak>
    <div class="container account booking conversation">
        <div class="row">
            <div class="col-md-9 col-md-offset-3 request-container">
                <div class="title-block separated-block">
                    <h1 class="left-align back">
                        <span class="back-button">
                            <a href="/Listing/Booking/{{request.viewModel.Id}}">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </a>
                        </span>
                        Decline booking request
                    </h1>
                </div>

                @using (Html.BeginForm("BookingDecline", "Listing", FormMethod.Post, new { name = "decline", @class = "form-conversation clearfix" }))
                {
                    @Html.Hidden("UserId", Model.ViewModel.UserId)
                    @Html.Hidden("RequestId", Model.ViewModel.Id)


                    <div class="form-group">
                        <label id="message">Leave message to client (required) </label>
                        <textarea name="Message"
                                  class="form-control account-input"
                                  ng-model="request.message"
                                  ng-maxlength="4000"
                                  ng-class="{'error-input': (decline.message.$dirty || decline.$submitted) && (decline.message.$error.required || decline.message.$error.maxlength)}"
                                  rows="3" required></textarea>
                        <span class="error-msg"
                              ng-show="(decline.message.$dirty || decline.$submitted) && decline.message.$error.required">
                            Required
                        </span>
                        <span class="error-msg"
                              ng-show="(decline.message.$dirty || decline.$submitted) && decline.message.$error.maxlength">
                            Max length 4000
                        </span>
                    </div>
                    <div class="right-align buttons">
                        <button type="submit" class="btn btn-red">Decline</button>
                        <a class="btn secondary-btn" href="@Url.Action("Booking", "Listing", new {id = Model.ViewModel.Id})">Cancel</a>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Listing")

<script>
    var angularConstants = {};
    angularConstants = {
        Request: JSON.parse('@Html.Raw(HttpUtility.JavaScriptStringEncode(Json.Encode(Model)))')
    };
</script>