@model IEnumerable<Momentarily.ViewModels.Models.CovidGoodViewModel>
@{

    Layout = "~/Areas/Frontend/Views/Shared/_LayoutNew.cshtml";
    ViewBag.Title = "Covid";
}
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<script src="~/Content/TemplateImg/js/jquery.min.js"></script>
<script src="~/Content/TemplateImg/js/bootstrap.min.js"></script>

<section class="mainDiv">
    <div class="covidBanner">
        <img src="~/Content/covid-image/covid-19-banner.jpg" alt="image" class="img-responsive" />
        <div class="covidBannerExt desktopHide">
            <div class="container">
                <div class="covidBannerContentPart">
                    <h3>Covid-19</h3>
                    <h1>Let's Give Back</h1>
                </div>
            </div>
        </div>
        <div class="covidBannerExt">
            <div class="container">
                <div class="covidBannerContentPart">
                    <h3 class="mobileHide">Covid-19</h3>
                    <h1 class="mobileHide">Let's Give Back</h1>
                    <p>We all want to do our part to prevent the spread of the coronavirus, and that means to stay at home and practice social distancing as much as possible.  In case we do need to go out, there are supplies below. For every pair of masks purchased, we will donate two masks and a hand sanitizer to our local heroes in America tagged on our Instagram and Facebook posts.  These can be first responders, delivery people, grocery store workers, volunteers, or anyone that has been deemed essential during our stay at home orders. In order to nominate individuals, make sure a picture is posted of them helping out, and be sure to tag momentarily.</p>
                    <h6>The masks are a reminder: this is only momentarily.</h6>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="fetauredProduct">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="featureheading">
                    <h2>COVID-19 Products</h2>
                </div>
            </div>
        </div>
        <div class="row waterMark covidProduct">
            @foreach (var item in Model)
            {
                <div class="col-sm-6">
                    @if (item.stockMasterDetail.QuantityLeft <= 0)
                    {
                        <div class="featureDesc stockOutImage" onclick="PlaceOrder(@item.CovidGoodId)">
                            <div class="featureImage">
                                <a href="javascript:void(0);" title="Product Image">
                                    <img src="~/Content/covid-image/@item.GoodImage" alt="image" class="img-responisve">
                                </a>
                                <img class="stockImage" src="~/Content/covid-image/out-of-stock.png" alt="image">
                            </div>
                            <div class="covidProductPrice">
                                <a href="/covid/PlaceOrder/@item.CovidGoodId" title="@item.GoodName">
                                    <h3>@item.GoodName</h3>
                                </a>
                                <p class="ng-binding">$ @item.GoodPrice.ToString("F2") </p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="featureDesc" onclick="PlaceOrder(@item.CovidGoodId)">
                            <div class="featureImage">
                                <a href="javascript:void(0);" title="Product Image">
                                    <img src="~/Content/covid-image/@item.GoodImage" alt="image" class="img-responisve">
                                </a>
                            </div>
                            <div class="covidProductPrice">
                                <a href="/covid/PlaceOrder/@item.CovidGoodId" title="@item.GoodName">
                                    <h3>@item.GoodName</h3>
                                </a>
                                <p class="ng-binding">$ @item.GoodPrice.ToString("F2") (Only @item.stockMasterDetail.QuantityLeft left) </p>
                            </div>
                        </div>
                    }
                </div>
            }

        </div>
    </div>
</section>


<div class="modal fade covidPopup" tabindex="-1" role="dialog" id="covidpopup" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h3>Covid-19</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div class="body-message">
                    <h5>We support our heroes during these rough times. Please read how your purchases will help go towards those essential workers and volunteers in our local communities.</h5>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>

        </div>

    </div>

</div>


<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12 full">
                <div class="footerDesc">
                    <h5>momentarily</h5>
                    <p>A peer-to-peer marketplace for people and businesses to share their belongings for an affordable price, or borrow something for the moment.</p>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-1 col-sm-12 col-xs-12 ">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4 full">
                        <div class="footerDesc">
                            <h5>Company</h5>
                            <ul>
                                <li><a href="@Url.Action("Index", "Home")" id="btn_home" "><i class="fa fa-caret-right" aria-hidden="true"></i> Home</a></li>
                                <li><a href="@Url.Action("AboutUs", "Home")"><i class="fa fa-caret-right" aria-hidden="true"></i> About Us</a></li>
                                <li><a href="@Url.Action("FAQ", "Home")"><i class="fa fa-caret-right" aria-hidden="true"></i>  FAQ</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 full">
                        <div class="footerDesc">
                            <h5>Quick Links</h5>
                            <ul>
                                <li><a href="@Url.Action("HowItWorks", "Home")"><i class="fa fa-caret-right" aria-hidden="true"></i> How it Works </a></li>
                                <li><a href="@Url.Action("Create", "Listing")"><i class="fa fa-caret-right" aria-hidden="true"></i> Share </a></li>
                                <li><a href="" id="becomeBorrower"><i class="fa fa-caret-right" aria-hidden="true"></i> Borrow </a></li>
                                <li><a href="@Url.Action("ContactUs", "Home")"><i class="fa fa-caret-right" aria-hidden="true"></i>  Help</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 full">
                        <div class="footerDesc">
                            <h5>Contact Us</h5>
                            <ul>
                                <li><a href="mailto:hello@momentarily.com"><i class="fa fa-envelope" aria-hidden="true"></i> hello@momentarily.com</a></li>
                            </ul>
                            <ul class="socialLinks">
                                <li><a href="https://www.instagram.com/momentarily/" target="_blank" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.facebook.com/momentarily" target="_blank" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li>
                                    <a href="https://twitter.com/momentarilycom" target="_blank" title="
                                 Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="https://www.youtube.com/momentarily" target="_blank" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>

                                <li id="pintrest"><a href="https://www.pinterest.com/momentarilycom/" target="_blank" title="pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyright">
    <div class="container">
        <div class="row">

            <div class="col-sm-6">
                <div class="copyrightDesc">
                    <ul>
                        <li><a href="/termsofuse">Terms &amp; Conditions</a></li>
                        <li><a href="/privacypolicy" class="ppBtn"><img src="~/Content/TemplateImg/images/privacy-policy_icon.png" alt="image" /> Privacy Policy</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="copyrightDesc">
                    <p>@DateTime.Now.Year <b>momentarily</b><sup id="trademark">TM</sup></p>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#" id="scroll" style="display:none;" title="Bottom to Top Scroll">
    <span class="goto">Go To</span> <span class="top-text">Top</span>
</a>


<style>
    .fetauredProduct .featureImage.stockOutImage {
        position: relative;
    }

    .stockOutImage {
        pointer-events: none;
        position: relative;
    }

    .stockImage {
        height: auto !important;
        position: absolute;
        left: 50%;
        max-width: 210px !important;
        top: 34%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }

    .fetauredProduct .stockOutImage:before {
        position: absolute;
        content: "";
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        background-color: rgba(255,255,255,0.7);
    }

    .covidBanner {
        position: relative;
        margin-top: 56px;
    }

    .covidBannerExt {
        position: absolute;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }

    .covidBanner img {
        width: 100%;
    }

    .covidProduct .featureImage a {
        float: left;
        width: 100%;
        margin: 0 30px 20px 0;
    }

        .covidProduct .featureImage a img {
            object-fit: contain;
            height: 270px;
        }

    .fetauredProduct .covidProduct .featureDesc {
        background-color: #fff;
        padding-bottom: 10px;
        box-shadow: 0 0 12px rgba(0,0,0,0.05);
    }

    .fetauredProduct .covidProduct .featureImage img {
        max-width: 410px;
    }

    .covidBannerExt h3 {
        text-transform: uppercase;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 5px;
        margin-top: 0;
    }

    .covidBannerExt h1 {
        font-size: 70px;
        font-weight: 800;
        font-family: 'Roboto', sans-serif;
        margin-top: 0;
    }

    .covidBannerExt p {
        font-size: 20px;
        line-height: 30px;
        font-family: 'Roboto', sans-serif;
    }

    .covidBannerExt h6 {
        font-size: 20px;
        font-weight: 600;
        margin-top: 20px;
        font-family: 'Roboto', sans-serif;
    }

    .covidBannerContentPart {
        max-width: 650px;
    }

    @@media(max-width:1280px) {
        .covidBannerContentPart {
            max-width: 530px;
        }

        .covidBannerExt p {
            font-size: 16px;
            line-height: 20px;
        }

        .covidBannerExt h3 {
            font-size: 25px;
        }

        .covidBannerExt h1 {
            font-size: 35px;
            margin-top: 0;
        }

        .covidBannerExt h6 {
            font-size: 16px;
            margin-top: 10px;
        }

        .covidBanner {
            position: relative;
        }
    }

    @@media(max-width:991px) {
        .covidBannerExt p {
            font-size: 14px;
            line-height: 18px;
        }

        .covidBannerContentPart {
            max-width: 410px;
        }
    }

    @@media(min-width:768px) {
        .covidBannerExt.desktopHide {
            display: none;
        }
    }

    @@media(max-width:767px) {

        .covidBannerContentPart {
            max-width: 100%;
            padding-top: 0px;
        }

        .covidBannerExt {
            position: absolute;
            width: 100%;
            position: relative;
            top: auto;
            left: 0;
            transform: none;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
        }

            .covidBannerExt.desktopHide {
                position: absolute;
                top: 14%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
            }

        .mobileHide {
            display: none;
        }

        .covidBannerExt h3 {
            font-size: 16px;
        }

        .covidBannerExt h1 {
            font-size: 22px;
        }

        .covidBannerExt p {
            padding-top: 20px;
        }

        .covidBannerExt h6 {
            font-size: 14px;
            margin-top: 5px;
        }

        .covidBannerExt.desktopHide {
            position: absolute;
            top: 35%;
        }
    }

    @@media(max-width:575px) {

        .covidBannerExt.desktopHide {
            position: absolute;
            top: 28%;
        }
    }

    @@media(max-width:480px) {

        .covidBannerExt.desktopHide {
            position: absolute;
            top: 18%;
        }
    }

    #covidpopup {
        z-index: 99999;
    }

    .covidBtn {
        background-color: #cf2d1e;
        border: none;
        font-size: 16px;
        border-radius: 2px;
        padding: 8px 20px;
    }

    .covidPopup .modal-header {
        padding: 15px;
        border-bottom: none;
        position: relative;
        z-index: 99;
        background-color: #cf2d1e;
    }


        .covidPopup .modal-header .close {
            color: #fff;
            opacity: 1;
            font-size: 25px;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
        }

    .covidPopup .modal-dialog {
        overflow: hidden;
        border-radius: 5px;
    }

    .covidPopup .modal-content {
        padding: 0px;
        position: relative;
        border: none;
    }

    .covidPopup .modal-footer {
        border-top: none;
        text-align: center;
        position: relative;
        z-index: 99;
    }

        .covidPopup .modal-footer .btn-primary {
            color: #fff;
            background-color: #cf2d1e;
            border-color: transparent;
            padding: 8px 30px;
            margin-bottom: 20px;
            font-size: 16px;
            text-transform: uppercase;
            max-width: 130px;
            width: 100%;
        }

    .covidPopup .modal-header h3 {
        color: #fff;
        text-align: center;
        font-weight: bold;
        margin: 0;
        text-transform: uppercase;
    }

    .covidPopup h5 {
        font-size: 16px;
        text-align: center;
        color: #646262;
        line-height: 24px;
        max-width: 490px;
        margin: 20px auto 10px;
        font-family: 'Lato', sans-serif;
    }

    .btn:focus {
        outline: none;
        box-shadow: none;
    }

    @@media(min-width:768px) {
        .covidPopup .modal-dialog {
            top: 50%;
            transform: translateY(-50%) !important;
            -webkit-transform: translateY(-50%) !important;
            -moz-transform: translateY(-50%) !important;
        }
    }
</style>


<script>

    $(document).ready(function () {

        $('#covidpopup').modal('show');
    })

    function PlaceOrder(id) {
        window.location.href = '/covid/PlaceOrder/' + id;
    }

</script>
