@model Apeek.Common.IShape<Apeek.ViewModels.Models.UserRestorePwd>
@{
    Layout = "~/Areas/Frontend/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="content mainClass">
        <div class="container-full">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-12">
                    <div class="sign-in-page">
                        <div class="title-block2">
                            <h1>FORGOT YOUR PASSWORD?</h1>
                        </div>
                        <div class="form-block">
                            @if (Shape.IsError == false && Shape.Message != null)
                            {

                                <p class="message">
                                    A link to reset your password has been sent to
                                    <span class="shapemessage">@Shape.Message</span>


                                    If you have not received the e-mail after
                                    a few minutes please check your spam folder.
                                </p>

                            }
                            else
                            {
                                @Html.ValidationSummary(true)
                                <form>
                                    <p class="p2">
                                        Don't Worry! Give us the email you use to login,<br />
                                        and we will send you instructions for resetting your password.
                                    </p>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="exampleInputEmail2">E-mail Address</label>
                                        @Html.TextBoxFor(m => m.ViewModel.EmailAddressOrPhoneNum, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ViewModel.EmailAddressOrPhoneNum, null, new { @class = "error-labels" })
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" id="send" class="btn btn-green form-control">Reset Your Password</button>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/Scripts/Libs/jquery")

<script>
        $(document).ready(function () {
            $('body').css('background', '#fefefe');

            $('#send').click(function () {
                $('#send').css('pointer-events', 'none');
            })
        })
</script>