@model Apeek.Common.IShape<Apeek.ViewModels.Models.UserPwdModel>

@{
    Layout = "~/Areas/Frontend/Views/Shared/_AccountMenuLayout.cshtml";
}


<div class="content">
    <div class="container account">
        <div class="row">

            <div class="col-md-9 col-md-offset-3 profile-page">
                <div class="account-sub-menu separated-block row">
                    <div class="account-sub-menu-items col-md-3"><a href="@QuickUrl.UserProfileUrl()">My profile</a></div>
                    <div class="account-sub-menu-items col-md-3"><a href="@QuickUrl.UserEmailUrl()">Change email</a></div>
                    <div class="account-sub-menu-items active col-md-3"><a href="@QuickUrl.UserPwdUrl()">Change password</a></div>
                    <div class="account-sub-menu-items col-md-3"><a href="@Url.Action("BankInfo","User")">Payment Details</a></div>
                </div>
                @using (Html.BeginForm())
                {
                    <div class="title-block separated-block">
                        <h1 class="left-align">
                            Password
                        </h1>
                    </div>
                    @Html.Partial("_Errors", Model)
                    <div class="form-block col-md-5">
                        <div class="form-group">
                            <label>New password</label>
                            @Html.PasswordFor(m => m.ViewModel.NewPassword, new {@class = "form-control account-input"})
                            @Html.ValidationMessageFor(m => m.ViewModel.NewPassword, null, new {@class = "error-labels"})
                        </div>
                        <div class="form-group">
                            <label>Confirm new password</label>
                            @Html.PasswordFor(m => m.ViewModel.ConfirmPassword, new {@class = "form-control account-input"})
                            @Html.ValidationMessageFor(m => m.ViewModel.ConfirmPassword, null, new {@class = "error-labels"})
                        </div>
                        <button type="submit" class="btn btn-green">Save new password</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
