@model Apeek.Common.IShape<Apeek.ViewModels.Models.GoodRequestViewModel>

@{
    ViewBag.Title = "Dispute";
    Layout = "~/Areas/Frontend/Views/Shared/_AccountMenuLayout.cshtml";
}


<div class="content" ng-controller="BookingDisputeReqeustController as request" ng-cloak>
    <div class="container account booking conversation">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9" style="background:#fff">
                <div class="back-button" style="padding:10px">
                    <a href="@Url.Action("Booking", "Listing", new {id = Model.ViewModel.Id})">←&nbsp;back to request @*#{{request.viewModel.Id}}*@</a>
                </div>
                <div class="title-block separated-block">
                    <h1 class="left-align">Dispute request @*#{{request.viewModel.Id}}*@</h1>
                </div>

                @using (Html.BeginForm("BookingDispute", "Booking", FormMethod.Post, new { name = "dispute", @class = "form-conversation" }))
                {
                    @Html.Hidden("UserId", Model.ViewModel.OwnerId)
                    @Html.Hidden("RequestId", Model.ViewModel.Id)
                    @Html.Hidden("StatusId", Model.ViewModel.StatusId)
                   
                    <div class="col-md-6 form-group">
                        <label id="message">Dispute Reason</label>
                        @Html.DropDownList("ReasonId",
                        new SelectList(ViewBag.Reasons, "Value", "Text", Model.ViewModel.ReasonId),
                        "Select Reason",
                        new { @class = "form-control" })
                     </div>



                        <label id="message">Leave message to admin (required) </label>
                        <div class="form-group">
                            <textarea name="Message"
                                      class="form-control"
                                      ng-model="request.message"
                                      ng-maxlength="4000"
                                      ng-class="{'error-input': (dispute.message.$dirty || dispute.$submitted) && (dispute.message.$error.required || dispute.message.$error.maxlength)}"
                                      rows="3" required></textarea>
                            <span class="error-msg"
                                  ng-show="(dispute.message.$dirty || dispute.$submitted) && dispute.message.$error.required">
                                Required
                            </span>
                            <span class="error-msg"
                                  ng-show="(dispute.message.$dirty || dispute.$submitted) && dispute.message.$error.maxlength">
                                Max length 4000
                            </span>
                        </div>

                        <button type="submit" class="btn btn-red">Start dispute</button>
                        <a class="black-link" href="@Url.Action("Request", "Booking", new {id = Model.ViewModel.Id})">Cancel</a>
                        }
                    </div>
                </div>
        </div>
</div>


@Scripts.Render("~/Scripts/Listing")

<script>
    var angularConstants = {};
    angularConstants = {
        Request: JSON.parse('@Html.Raw(HttpUtility.JavaScriptStringEncode(Json.Encode(Model)))')
    };
</script>