@model Apeek.Common.IShape<Apeek.ViewModels.Models.GoodRequestViewModel>

@{
    ViewBag.Title = "My Booking";
    Layout = "~/Areas/Frontend/Views/Shared/_AccountMenuLayout.cshtml";
}


<div class="content" ng-controller="BookingRequestController as request" ng-cloak>
    <div class="container account booking-request">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <div class="request-container  background-container">
                    <div class="title-block separated-block">
                        <h1 class="left-align back">
                            <span class="back-button">
                                <a href="javascript:history.back()">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                </a>
                            </span>
                            Booking request
                        </h1>
                        <div ng-show="request.item.CanStartDispute" class="approve-decline link-block">
                            <a href="@Url.Action("BookingDispute", "Booking", new {id = Model.ViewModel.Id})" class="btn btn-red">
                                Dispute
                            </a>
                        </div>
                        <div ng-show="request.item.CanReceive" class="approve-decline link-block" style="margin:20px 2px !important">
                            <a href="@Url.Action("ReceiveItem", "Booking", new {id = Model.ViewModel.Id})" class="btn btn-red">
                                Item Received
                            </a>
                        </div>

                        <div ng-show="request.item.CanReturn" class="approve-decline link-block" style="margin:20px 2px !important">
                            <a href="@Url.Action("ReturnItem", "Booking", new {id = Model.ViewModel.Id})" class="btn btn-red">
                                Item Returned
                            </a>
                        </div>

                        <div ng-show="request.item.CanReview" class="link-block">
                            <a class="btn btn-green"
                               href="@Url.Action("BookingReview", "Booking", new {id = Model.ViewModel.Id})">Review</a>
                        </div>
                        <div ng-show="request.item.CanCancel" class="link-block">
                            <a class="btn"
                               href="@Url.Action("CancelRequest", "Booking", new {id = Model.ViewModel.Id})"
                               ng-click="request.cancelRequest($event)">Cancel booking</a>
                            @*<div class="information">* - You can cancel within the next 24 hours</div>*@
                        </div>
                        <div ng-show="request.isApproved()" class="link-block">
                            <a class="btn btn-green"
                               href="@Url.Action("Pay", "Payment", new {goodRequestId = Model.ViewModel.Id})">Pay for Booking</a>
                        </div>
                    </div>
                    <div ng-show="request.isCanceled()" class="alerts">
                        <div class="alert-info">Booking Canceled</div>
                    </div>
                    <div ng-show="request.isPaid()" class="alerts">
                        <div class="alert-success">Reservation Confirmed!</div>
                    </div>

                    <div ng-show="request.isRelease()" class="alerts">
                        <div class="alert-success">Item released by sharer</div>
                    </div>

                    <div ng-show="request.isReceived()" class="alerts">
                        <div class="alert-success">Item Received!</div>
                    </div>
                    <div ng-show="request.isReturned()" class="alerts">
                        <div class="alert-success">Item Returned!</div>
                    </div>
                    <div ng-show="request.isReturnedConfirm()" class="alerts">
                        <div class="alert-success">Item Return Confirmed!</div>
                    </div>

                    <div ng-show="request.isLate()" class="alert">
                        <div class="alert-error">Sharer marked this item as returned Late</div>
                    </div>
                    <div ng-show="request.isDamaged()" class="alert">
                        <div class="alert-error">Sharer marked this item as returned Damaged</div>
                    </div>
                    <div ng-show="request.isLateAndDamaged()" class="alert">
                        <div class="alert-error">Sharer marked this item as returned Late and Damaged</div>
                    </div>

                    <div ng-show="request.isDeclined()" class="alerts">
                        <div class="alert-info">Sharer has declined your booking</div>
                    </div>
                    <div ng-show="request.isNotresponded()" class="alerts">
                        <div class="alert-info">Sharer did not responded for this request</div>
                    </div>
                    <div ng-show="request.isDispute()" class="alert">
                        <div class="alert-error">Dispute started</div>
                    </div>
                    <div class="info-request">
                        <table>
                            @*<tbody ng-class="request.showContactInfo() ? 'col-md-6' : 'col-md-12'">*@
                            <tbody ng-class="request.showContactInfo() ? 'col-md-6' : 'col-md-12'">
                                <tr class="block-img-request">
                                    <td><img src="{{request.item.GoodImageUrl}}" on-error-src="/Content/Img/error-bg.png" alt="image" /></td>
                                    <td>
                                        <div>
                                            <div class="booking-name">{{request.item.GoodName}}</div>
                                            <div class="booking-status">Reservation {{request.item.StatusName}}!</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="name">
                                    <td>Owner</td>
                                    <td>
                                        <a target="_blank" href="@Url.Action("UserPublicProfile", "User", new {id = Model.ViewModel.OwnerId})">{{request.item.OwnerName}}</a>&nbsp;&nbsp;

                                        <a href="@Url.Action("Conversation", "Message", new {userId = Model.ViewModel.OwnerId})" class = "label-subscribed btn btn-primary" title="Send Message">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Listing</td>
                                    <td>#{{request.item.Id}}</td>
                                </tr>
                                <tr>
                                    <td>Rental Start Date</td>
                                    <td>{{request.convertToDate(request.item.StartDate) | date: 'MM/dd/yyyy'}}</td>
                                </tr>
                                <tr class="separated">
                                    <td>Rental Return Date</td>
                                    <td>{{request.convertToDate(request.item.EndDate) | date: 'MM/dd/yyyy'}}</td>
                                </tr>
                                <tr>
                                    <td>Rental Start Time</td>
                                    <td>{{request.item.StartTime}}</td>
                                </tr>
                                <tr>
                                    <td>Rental Return Time</td>
                                    <td>{{request.item.EndTime}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        Booking
                                    </td>
                                    <td>
                                        ${{request.item.DaysCost | number: 2}}
                                    </td>
                                </tr>
                                <tr ng-show="request.item.ShippingAddress">
                                    <td>
                                        Delivery
                                    </td>
                                    <td>
                                        ${{request.item.DiliveryCost | number: 2}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Service fee
                                    </td>
                                    <td>
                                        ${{request.item.CustomerServiceFeeCost | number: 2}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Charity
                                    </td>
                                    <td>
                                        ${{request.item.CustomerCharityCost | number: 2}}

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Security deposit
                                    </td>
                                    <td>
                                        ${{request.item.SecurityDeposit | number: 2}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Discount Amount
                                    </td>
                                    <td>
                                        ${{request.item.CouponDiscount | number: 2}}
                                    </td>
                                </tr>
                                <tr class="separated total">
                                    <td>Total</td>
                                    <td>${{request.item.CustomerCost | number: 2}}</td>
                                </tr>
                                <tr ng-show="request.item.ShippingAddress" ng-class="(!request.item.ShippingDistance > 0) ? 'separated' : 'nono'">
                                    <td>Delivery Address</td>
                                    <td>{{request.item.ShippingAddress}}</td>
                                </tr>
                                <tr ng-if="request.item.ShippingDistance > 0 &&request.item.ApplyForDelivery" class="separated">
                                    <td>Distance</td>
                                    <td>{{request.item.ShippingDistance}} miles</td>
                                </tr>
                            </tbody>
                            <tbody ng-show="request.showContactInfo()" class="col-md-6">
                                <tr>
                                    <td><strong>Sharer information</strong></td>
                                </tr>
                                <tr>
                                    <td>Sharer Name</td>
                                    <td>{{request.item.OwnerName}}</td>
                                </tr>
                                <tr>
                                    <td>Pick Up Location</td>
                                    <td>{{request.item.Location}}</td>
                                </tr>
                                <tr>
                                    <td>Contact Number:</td>
                                    <td><a href="tel:{{request.item.OwnerPhone}}">{{request.item.OwnerPhone}}</a></td>
                                </tr>
                                <tr>
                                    <td>Contact Email</td>
                                    <td class="contact-email">{{request.item.OwnerEmail}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="request.item.StatusId != 1">
            <div class="col-md-9 col-md-offset-3 ">
                <div class="request-container">
                    <apeek-map style="min-height: 500px"
                               items="[request.item]"
                               search-location="request.item.ShippingAddress || request.item.Location"
                               @*coord-change="search.mapCoordChanged"
                               change-on-move-map="search.filter.SearchByMap"
                               show-routes="true"*@
                               offset="false"
                               distance-and-route-from-current-location="request.item.ShippingDistance == 0">
                    </apeek-map>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/Scripts/Booking")
<style>
    .label-subscribed {
        color: #ffffff;
        font-weight: bold;
        border: none;
        background-color: #cf2d1e;
        border-radius: 3px;
        font-size: 11.998px;
        padding: 4px 12px;
    }
</style>
<script>
    var angularConstants = {
        Request: JSON.parse('@Html.Raw(HttpUtility.JavaScriptStringEncode(Json.Encode(Model)))')
    };
</script>