@model Apeek.Common.IShape<Apeek.ViewModels.Models.UserPwdModel>

@{
    //Layout = "~/Areas/Frontend/Views/Shared/_AccountMenuLayout.cshtml";
    Layout = "~/Areas/Frontend/Views/Shared/_Layout.cshtml";

}

@using (Html.BeginForm())
{
    <div class="content mainClass">
        <div class="container-full">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="title-block2" style="text-align:center">
                        <h1>RESET YOUR PASSWORD</h1>
                    </div>
                    @Html.Partial("_Errors", Model)
                    <div class="form-block resetblock">

                        <form>
                            <div class="form-group">
                                <label>New Password</label>
                                <label class="right-align">Minimum 6 Characters</label>
                                <div class="inputContainer">
                                    @Html.PasswordFor(m => m.ViewModel.NewPassword, new { @class = "form-control account-input" })
                                    <a class="btnShowHide" id="btnShowHide1" onclick="showHideFunctionalityInReset1()">SHOW</a>
                                    @Html.ValidationMessageFor(m => m.ViewModel.NewPassword, null, new { @class = "error-labels" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Confirm Password</label>
                                <div class="inputContainer">
                                    @Html.PasswordFor(m => m.ViewModel.ConfirmPassword, new { @class = "form-control account-input" })
                                    <a class="btnShowHide" id="btnShowHide2" onclick="showHideFunctionalityInReset2()">SHOW</a>
                                    @Html.ValidationMessageFor(m => m.ViewModel.ConfirmPassword, null, new { @class = "error-labels" })
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-green form-control">Reset Your Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/Scripts/Libs/jquery")

@Scripts.Render("~/Scripts/Account")
<script>
    $(document).ready(function () {
        $('body').css('background', '#fefefe');
    })
</script>
